{% extends 'base.html.twig' %}

{% block title %}Politica de privacidad | BambusLife{% endblock %}

{% block description %}Politica de privacidad | BambusLife{% endblock %}

{% block keywords %}Politica de privacidad{% endblock %}

{% block header %}
  {{ render(controller('App\\Controller\\Components\\HeaderController::index')) }}
{% endblock %}

{% block body %}

<div class="container white-box" style="padding: 20px;">

  <h1 class="title is-4">Condiciones Generales de la Prestación de Servicios de los Médicos</h1>
  <div class="content">
    <p>
      Las siguientes condiciones generales se aplican a la relación entre BambusLife SA (en lo sucesivo denominada <strong>«BL»</strong>) y el médico o centro médico (en lo sucesivo denominados conjuntamente el <strong>«Médico»</strong>) para la prestación de servicios al paciente (en lo sucesivo, el <strong>«Cliente»</strong>):
    </p>
    <h3 class="subtitle is-5">1. Ámbito de Aplicación, Creación del Contrato, Servicios prestados por BL</h3>
    <p>
      1.1 BL prestará sus servicios contractuales exclusivamente sobre la base de estas Condiciones Generales, las cuales pueden ser complementadas o modificadas en casos individuales por descripciones específicas de servicios. Las Condiciones Generales del Médico no se aplicarán a nuestros contratos, incluso si BL no las contradice expresamente. Si las Condiciones Generales del Médico no concuerdan con las siguientes Condiciones Generales, el Médico tiene la obligación de notificar a BL que no acepta las Condiciones Generales de BL expresamente, por escrito y con suficiente antelación antes de la creación del contrato. Si tal notificación no se lleva a cabo, el Médico deberá renunciar a las Condiciones Generales suyas que sean incompatibles.
    </p>
    <p>
      1.2 Las ofertas de BL no son vinculantes, salvo que se acuerde expresamente lo contrario en la oferta. Las creaciones de contratos y otros acuerdos no son vinculantes hasta que el Médico acepta la oferta de BL al firmar el contrato y una copia del contrato ha sido firmada por BL y devuelta posteriormente. Si no se devuelve la copia del contrato firmada por BL, las creaciones de contratos y otros acuerdos serán vinculantes desde el inicio de la prestación del servicio por BL.
    </p>
    <p>
      1.3 BL opera una plataforma de servicios integrada online (en lo sucesivo, <strong>«Plataforma»</strong>), es decir, una base de datos que permite al Médico ver, descargar, guardar e imprimir (en lo sucesivo, <strong>«acceder»</strong>) los datos médicos del cliente (en lo sucesivo, <strong>«los datos médicos»</strong>).
    </p>
    <p>
      1.4 En caso de que den su consentimiento, los Clientes podrán celebrar un acuerdo separado con BL (en lo sucesivo, <strong>«Acuerdo de Servicios»</strong>) para registrarse en la Plataforma. Las condiciones generales del Acuerdo de Servicios se derivan de las «Condiciones Generales de Personal MedSystems GmbH», y BL dará al Médico una versión actualizada y vigente de las mismas bajo solicitud.
    </p>
    <p>
      1.5 BL no está involucrado en ninguna relación legal entre el Médico y el Cliente. En particular, los derechos y obligaciones del Médico no se derivan del Acuerdo de Servicios entre BL y el Cliente.
    </p>
    <p>
      1.6 El registro en la Plataforma y su uso son gratuitos para el Médico.
    </p>
    <h3 class="subtitle is-5">2. Registro</h3>
    <p>
      2.1 En el marco del Acuerdo de Servicios, BL estará obligado a crear una cuenta de usuario para el Cliente (en lo sucesivo, «Cuenta») en la Plataforma en la cual el Cliente puede guardar y administrar sus datos. Solo se puede crear una Cuenta por Cliente. BL solo permitirá que los datos de la Cuenta proporcionados por el Cliente sean accedidos por el médico titulado elegido por el cliente ante BL en la Plataforma. El prerrequisito para esto es que el Médico a su vez haya creado una cuenta de usuario del médico en la Plataforma.
    </p>
    <p>
      2.2 El Médico puede registrarse a través de la página web de BL. Tras el registro, se establece una relación contractual entre el Médico y BL. Tras el registro, BL creará una cuenta de usuario para el Médico (en lo sucesivo, la <strong>«Cuenta del Médico»</strong>) y, en cumplimiento del Acuerdo de Servicios, le dará acceso a los datos médicos enviados por el Cliente, quien ha dado su consentimiento a que estos datos se compartan con el Médico.
    </p>
    <p>
      2.3 El registro del Médico solo se dará por completado y efectivo una vez que el Médico haya enviado a BL a través de la página web una copia válida de su identificación como médico o el certificado válido correspondiente en el país en el que ejerce (en lo sucesivo denominados conjuntamente <strong>«comprobante de identidad»</strong>) o una vez que BL haya validado a la persona que se ha registrado como Médico. Si el comprobante de identidad válido caduca, o si se notifica a BL de que el Médico ha dejado de ejercer, BL bloqueará la Cuenta del Médico para que no se envíe ninguno de los datos del Cliente al Médico. Si el Médico no presenta un comprobante de identidad válido renovado en un periodo de tres meses, toda su configuración, sus datos y la Cuenta del Médico serán bloqueados por BL. Si el comprobante de identidad válido renovado se presente dentro del plazo, BL reactivará la Cuenta del Médico, en la cual la configuración y los datos originales seguirán existiendo.
    </p>
    <p>
      2.4 Al registrarse en la Plataforma, el Médico da su consentimiento en general a que se ofrezcan sus servicios al Cliente en la Plataforma. <strong>Sin embargo, este contrato con BL no se debe considerar como una obligación del Médico a tratar al Cliente. </strong> Así, el Médico podrá declinar una cita con un Cliente en la Plataforma de BL usando la función de «rechazar» de la plataforma.
    </p>
    <h3 class="subtitle is-5">3. Transmisión de Datos y Protección de Datos</h3>
    <p>
      3.1 Los datos Médicos del Cliente (por ejemplo, sus ECG) sólo serán accesibles a través de la Plataforma para el Médico elegido por el Cliente (en lo sucesivo la <strong>«conexión Cliente-Médico»</strong>).
    </p>
    <p>
      3.2 La Plataforma envía al Médico una notificación automática por correo electrónico cada vez que el Cliente envía una serie de datos a la Cuenta del Médico (por ejemplo, una lectura de ECG) a través de la conexión Cliente-Médico. Este mensaje de correo electrónico contiene un enlace el cual, bajo confirmación del Médico, abre el navegador del dispositivo portátil y permite el acceso a la Cuenta del Médico protegida por la contraseña del Médico. De ese modo el Médico accede a la Cuenta del Médico. El Médico podrá elegir como servicio adicional opcional, y previo pago a BL, una comunicación integrada de servidor a servidor que transmita los datos directamente de la Plataforma al sistema de información del paciente del Médico.
    </p>
    <p>
      3.3 Por defecto, la Plataforma solo enviará una notificación automática por correo electrónico al Médico si los datos del Cliente (ECG) indican un resultado «amarillo» o «rojo» en comparación con el ECG de referencia del Cliente; es decir, si los datos sugieren que una consulta con el médico es apropiada. El Médico podrá seleccionar desde su Cuenta del Médico en qué casos desea recibir notificaciones de la Plataforma por correo electrónico. El Médico también tiene derecho a desactivar totalmente las notificaciones de la Plataforma por correo electrónico.
    </p>
    <p>
      3.4 El Médico no tiene obligación de abrir el enlace del correo electrónico ni de ver los datos del Cliente en la Cuenta del Médico, ni tiene obligación de reaccionar a los datos transmitidos por BL en general ni en un periodo de tiempo concreto. Del mismo modo, el Médico no tiene derecho a transmitir los datos en relación con BL.
    </p>
    <p>
      3.5 Ambas partes se asegurarán de garantizar los requisitos legales vigentes sobre <strong>la protección de datos personales. Asimismo, las partes acuerdan que la obligación legal del Médico de respetar el secreto profesional no será afectada por el contrato con BL</strong> y por tanto seguirá existiendo. Por lo demás, siempre y cuando su contenido sea relevante en cuanto a la relación entre el Médico y BL, se aplicará la <strong>“Política de Privacidad”</strong> (disponible en <a href="https://www.cardiosecur.com/en/meta-navigation/footer/legal/privacy-policy/">Protección de Datos</a> ), incluida la <strong>Declaración de Consentimiento del Médico</strong>, la cual constituye una parte importante del acuerdo entre el Cliente y BL.
    </p>
    <h3 class="subtitle is-5">4. Responsabilidad</h3>
    <p>
      Las siguientes disposiciones se aplicarán a la responsabilidad de BL, así como a la responsabilidad de sus empleados, agentes indirectos y auxiliares, por cualquier motivo legal:
    </p>
    <p>
      4.1 Puesto que BL proporciona sus servicios al Médico de manera gratuita en cumplimiento de estas Condiciones Generales, BL será responsable sin limitación ante el Médico en caso de negligencia grave y, respecto a la responsabilidad por defectos, en caso de conducta maliciosa. Sin embargo, en caso de negligencia grave la responsabilidad se limitará a la indemnización por los daños típicamente previsibles. Por lo demás, BL no se hará responsable.
    </p>
    <p>
      4.2 BL será responsable de los casos de imposibilidad originaria solo si el impedimento del cumplimiento le era conocido o si la falta de conocimiento fue resultado de una negligencia grave.
    </p>
    <p>
      4.3 El plazo de prescripción de las reclamaciones por daños contra BL será de un año desde la fecha de comienzo del plazo de prescripción legal, salvo que el daño se ocasionara intencionadamente.
    </p>
    <p>
      4.4 Las limitaciones de responsabilidad mencionadas anteriormente no se aplicarán en caso de fallecimiento, lesiones físicas o daños a la salud, ya sea por un defecto en la calidad del producto que se asumía garantizada o por un defecto ocultado maliciosamente. La responsabilidad bajo la Ley de Responsabilidad del Producto alemana no se verá afectada.
    </p>
    <p>
      4.5 BL solo será responsable del contenido de terceros en su página web y en la Plataforma en los siguientes casos:<br>
      a) si BL tiene conocimiento de los actos ilícitos o de la información y, en el caso de indemnización por daños, también tiene conocimiento de los hechos o circunstancias en los que el acto ilícito o la información quedaron de manifiesto;<br>
      b) si BL no actuó rápidamente para eliminar la información o bloquear el acceso a ella tan pronto como BL tuvo conocimiento de ella.
    </p>
    <p>
      4.6 BL se desvincula expresamente del contenido de todas las páginas a las que se refiere de manera directa o indirecta (los llamados «enlaces») desde la página web de BL y sus ofertas. BL no asumirá ninguna responsabilidad por tal contenido. Los proveedores de las páginas respectivas son responsables de su contenido. Lo mismo sucede con el contenido de las páginas mostradas en los llamados «marcos» bajo la barra de navegación en la página web de BL y sus ofertas.
    </p>
    <p>
      4.7 Si se presentan reclamaciones por daños, estas se deben hacer valer en un plazo de 3 meses desde la denegación por escrito de BL. Cualquier reclamación presentada fuera de plazo será rechazada salvo que los procedimientos independientes para reunir pruebas se hayan iniciado durante el plazo.
    </p>
    <h3 class="subtitle is-5">5. Período del Contrato y Rescisión</h3>
    <p>
      5.1 Cualquiera de las partes podrá rescindir el contrato entero o en relación a uno o más Clientes al final de cualquier mes natural con un preaviso de dos semanas. Sin embargo, la parte que desee rescindir el contrato deberá notificar inmediatamente al Cliente o los Clientes afectados por la rescisión al menos en forma textual antes de que la rescisión se haga efectiva.
    </p>
    <p>
      5.2 La relación contractual entre el Médico y BL concerniente al Cliente respectivo terminará automáticamente tan pronto como el Acuerdo de Servicios termine o tan pronto como el Cliente declare que no desea seguir utilizando los cuidados del Médico en la Plataforma.
    </p>
    <p>
      5.3 Por lo demás, el derecho de las partes contractuales a rescindir por una causa justificada no se verá afectado.
    </p>
    <p>
      5.4 Salvo que se acuerde lo contrario, todas las rescisiones se deben realizar por escrito (o en forma de texto), por lo que la declaración de rescisión firmada deberá enviarse por fax o correo electrónico (como documento escaneado, por ejemplo en PDF) para obedecer a la forma de texto.
    </p>
    <h3 class="subtitle is-5">6. Disposiciones Finales</h3>
    <p>
      6.1 Salvo que se indique lo contrario en las Condiciones Generales, el Médico no podrá transferir a terceros ninguno de los derechos garantizados en este contrato ni el contrato en su totalidad sin el consentimiento expreso de BL por escrito. Sin embargo, se permitirá a BL transferir este contrato a una empresa a la que BL esté afiliada (artículo X de la Ley de Sociedades Anónimas uruguayas).
    </p>
    <p>
      6.2 Cualquiera de las partes podrá presentar declaraciones de intenciones de manera electrónica, las cuales se considerarán como dadas por escrito salvo que se requiera por ley que sean por escrito o salvo que las presentes Condiciones Generales excluyan el modo electrónico.
    </p>
    <p>
      6.3 El lugar de cumplimiento es el domicilio social de BL. Se acuerda que el domicilio social será el fuero de jurisdicción de todas las disputas que resulten directa o indirectamente de la relación contractual (incluyendo los procedimientos judiciales relacionados con cheques, letras de cambio y documentos). Esto también se aplica a los procesos de reclamación y a las personas sin lugar de jurisdicción general en Uruguay, así como a personas que han cambiado su lugar de residencia o de residencia habitual al extranjero tras la celebración del acuerdo o cuyo lugar de residencia o residencia habitual sean desconocidos en el momento del inicio de la acción. BL también tiene derecho a presentar una demanda ante un tribunal de justicia.
    </p>
    <p>
      6.4 Este contrato se rige exclusivamente por las leyes uruguayas. Se excluye la aplicación de la «Ley Uniforme Sobre la Compraventa Internacional de Mercaderías», la «Ley Uniforme Sobre la Formación de Contratos Para la Compraventa Internacional de Mercaderías» y la «Convención de las Naciones Unidas sobre los Contratos de Compraventa Internacional de Mercaderías». Esta elección de ley solo se aplicará al consumidor si no restringe ninguna disposición legal de su país de residencia o de residencia habitual.
    </p>
    <p>
      6.5 Ningún acuerdo verbal subsidiario será válido. Cualquier modificación o complemento a este acuerdo, incluida esta cláusula do forma textual, deberá indicarse como tal en forma textual para hacerse efectiva. Los acuerdos verbales subsidiarios solo se aplicarán si han sido confirmados de manera escrita o textual.
    </p>
    <p>
      6.6 Si alguna de las disposiciones de estas Condiciones Generales fuera o llegara a ser ineficaz o impracticable, esto no afectaría la validez del resto de disposiciones de estas Condiciones Generales ni del contrato con BL. Lo mismo se aplicaría de inmediato si se descubriese un vacío legal en estas Condiciones Generales.
    </p>
  </div>
</div>

{% endblock %}


{% block footer %}
  {{ include('components/footer.html.twig') }}
{% endblock %}