{% extends 'base.html.twig' %}

{% block title %}Politica de privacidad | BambusLife{% endblock %}

{% block description %}Politica de privacidad | BambusLife{% endblock %}

{% block keywords %}Politica de privacidad{% endblock %}

{% block header %}
  {{ render(controller('App\\Controller\\Components\\HeaderController::index')) }}
{% endblock %}

{% block body %}

<div class="container white-box" style="padding: 20px;">

  <h1 class="title is-4">Política de Privacidad</h1>
  <div class="content">

    <h3 class="subtitle is-5">I. Disposiciones generales sobre la Protección de Datos en BambusLife SA.</h3>
    <p>
      Nos tomamos la protección de sus datos con mucha seriedad y adherimos estrictamente a las regulaciones de las leyes de protección de datos vigentes (incluyendo la Ley de Protección de Datos del Uruguay).
    </p>
    <h4 class="subtitle is-5">1. La Parte Responsable</h4>
    <p>
      La parte responsable en términos de las leyes de protección de datos es Bambusife SA, Br. España 2630 of. 301, 11.300 Montevideo, Uruguay (en lo sucesivo denominada “BL”), representada por el Ing. Jorge Henon (Presidente) y el Lic. Alejandro Harrison (Vicepresidente).
    </p>
    <h4 class="subtitle is-5">2. Derecho de Información</h4>
    <p>
      Usted tendrá en todo momento derecho a la información sobre el tipo y el alcance de los datos que almacenamos sobre usted, su origen, sus destinatarios y la finalidad de su almacenamiento. E-Mail: <a href="mailto:info@bambus.life">info@bambus.life</a>
    </p>
    <h4 class="subtitle is-5">3. Revocación de Consentimiento</h4>
    <p>
      Usted podrá revocar cualquier consentimiento previamente dado sobre el almacenamiento de sus datos personales y el uso de los mismos en cualquier momento con efecto futuro. Su objeción al uso continuado de los datos puede tener como consecuencia el no poder seguir recibiendo los servicios adquiridos (por ejemplo, el uso de la aplicación, la cuenta de usuario o el boletín). Nótese que, si usted es nuestro cliente o usuario de nuestros servicios, tendremos derecho a procesar sus datos con la finalidad de cumplir con el contrato y para fines contables según sea necesario, incluso a pesar de su revocación de consentimiento. Asimismo, estamos obligados a cumplir con periodos obligatorios de retención de datos.
    </p>
    <h4 class="subtitle is-5">4. Anonimización y Eliminación de Datos</h4>
    <p>
      Eliminaremos irreversiblemente todo elemento identificatorio de sus datos médicos 10 años después de la finalización del objetivo comercial de esos datos (por ejemplo, en caso de cancelación o anulación de su contrato). Hasta ese momento, sus datos le podrán servir como prueba en cualquier demanda civil que pudiera presentar contra un médico. Asimismo, sus datos necesitan ser almacenados en caso de que se emprendiera un procedimiento judicial contra BambsuLife SA durante este periodo.
      En cumplimiento con los periodos legales de almacenamiento, estamos obligados a almacenar sus datos personales relacionados con el cumplimiento del contrato durante 10 años (o más, si la ley lo requiere) y a eliminarlos de manera irreversible después de este periodo. En caso que el Ministerio de Salud correspondiente y Órgano Regulador de Salud del país, requiera datos e información sobre los resultados que están almacenados, los mismos serán anonimizados, o sea que no se entregarán datos que identifiquen su persona con los datos entregados, sólo se entregaran datos generales como ser: edad, género, peso, altura y otros datos de interés para los estudios o investigaciones que se soliciten.
    </p>
    <h4 class="subtitle is-5">5. Observaciones</h4>
    <p>
      Queremos señalar que, pese a todas las precauciones de seguridad que tomamos, la transmisión de datos electrónicos (por ejemplo, por correo electrónico) puede tener fallos de seguridad. No es posible proteger los datos completamente contra el acceso no autorizado de terceros. Consulte también las secciones III y IV.
    </p>
    <h4 class="subtitle is-5">6. Derecho de Queja</h4>
    <p>
      Si usted piensa que sus datos no han sido gestionados de manera apropiada, puede en particular ejercer su derecho legal de presentar una queja directamente a la autoridad reguladora pertinente o a la Unidad Reguladora y de Control de Datos Personales del Uruguay, <a href="mailto:infourcdp@datospersonales.gub.uy">infourcdp@datospersonales.gub.uy</a>
    </p>




    <h3 class="subtitle is-5">II. Información sobre la Protección de Datos al usar la página web de BL y los Servicios que Requieren Subscripción</h3>
    <p>
      En gran medida, es posible usar nuestra página web sin tener que proporcionar datos personales. Los datos almacenados solo serán compartidos con terceros en los modos expresamente estipulados en esta declaración de protección de datos, especialmente si lo requiere la ley, si usted nos ha dado su consentimiento expreso o en relación a las cookies (véanse también las secciones sobre «Cookies» y «Procesamiento por Terceros»).
    </p>
    <h4 class="subtitle is-5">1. Almacenamiento de Datos al Usar la Página Web</h4>
    <p>
      Cada vez que se acceda a nuestra página web o nuestros archivos, los datos de acceso se almacenarán en un registro del servidor de nuestro proveedor junto con información específica sobre el dispositivo. Los datos de uso (como por ejemplo los datos sobre el principio, fin y alcance del uso de ciertos servicios de telecomunicación o sobre el tráfico de datos por correo electrónico) se recopilarán, procesarán y usarán para proporcionar estos servicios en la medida en que sea necesario. Suelen recopilarse la fecha, hora y zona horaria del principio y el fin de la actividad, el alcance en bytes, la dirección IP del usuario, el tipo de servicio de telecomunicación, información específica sobre el dispositivo y otros datos similares. Nos reservamos el derecho a procesar estos datos en la medida en que sea necesario para el funcionamiento, mantenimiento y mejora de nuestra página web. Los datos se eliminarán tras el análisis de estadísticas.
    </p>
    <h4 class="subtitle is-5">2. Subscripción Opcional al Boletín</h4>
    <p>
      Puede suscribirse a nuestro sistemas de mails o boletín (por ejemplo, a través de nuestra página web) mediante el proceso de confirmación doble. Esto significa que cuando se suscriba al boletín desde la página web, recibirá automáticamente un correo electrónico pidiendo que confirme su subscripción. Su subscripción al boletín sólo se finalizará una vez que haya completado ambos pasos del proceso de confirmación. Para suscribirse a nuestro boletín, usted nos proporcionará su dirección de correo electrónico. Usaremos esta información únicamente para enviarle nuestro boletín. Nuestro boletín es enviado por Sendgrid, Dever, Colorado, USA. Cada vez que se envía un mail o boletín, Sengrid comprueba si usted ha abierto el correo electrónico (medición de resultados). Utilizamos esta información para proporcionarle contenido más relevante en términos médicos y relacionado con el producto. Su dirección de correo electrónico será almacenada por nosotros y por Sengrid hasta que se dé de baja de nuestro boletín. Usted se podrá dar de baja en cualquier momento haciendo clic en el enlace de nuestros boletines o simplemente poniéndose en contacto con nosotros (la dirección de correo electrónico se encuentra en la publicación). Al darse de baja, usted revoca nuestro derecho a usar su dirección de correo electrónico para el boletín. Si ya es cliente, consulte la sección IV. 4.
    </p>
    <h4 class="subtitle is-5">3. Manejo de Datos en relación con los Servicios que Requieren Subscripción</h4>
    <p>
      Si usted desea usar nuestros servicios electrónicos (por ejemplo, la aplicación, las cuentas de usuario y similares), necesitaremos información suya para proporcionar estos servicios y a efectos de liquidación. Esto incluye en particular su nombre, dirección de correo electrónico, dirección, número de teléfono, etc. Usted nos proporcionará estos datos de manera expresamente voluntaria con el fin de permitirnos prestar nuestros servicios. Al confirmar esto enviando sus datos, usted nos da permiso para contactar con usted por correo electrónico, correo ordinario o teléfono y a recopilar, almacenar y utilizar sus datos conforme a su uso respectivo, por ejemplo para la prestación de servicios o la mejora de nuestra gama de servicios. Sus datos sólo se enviarán a terceros, tales como socios colaboradores contratados por nosotros o nuestros proveedores de servicios (por ejemplo, los proveedores de servicios informáticos encargados de nuestro centro informático, las empresas asignadas para el manejo de las facturas de los servicios que adquiere con nosotros, la institución financiera que expide su tarjeta de crédito, las empresas de servicios de logísticas encargadas de entregarle el producto), que hayan sido encargados de realizar tareas con fines acordes. Estos terceros no podrán usar sus datos para cualquier uso que no sea el indicado por nosotros. Además, estarán obligados a gestionar todos los datos en cumplimiento de esta Política de Privacidad y las disposiciones de protección de datos alemanas, como por ejemplo el artículo 28 del Reglamento General de Protección de Datos de la UE (RGPD). También es posible que se nos requiera que compartamos su información personal para cumplir con requisitos legales y reglamentarios. No se enviarán datos a terceros bajo ninguna otra circunstancia.
    </p>
    <h4 class="subtitle is-5">4. Cookies</h4>
    <p>
      Las llamadas «cookies» se utilizan en varios lugares de nuestra página web. Las cookies son pequeños archivos de datos que se envían a su ordenador y se almacenan en su navegador. La finalidad de las cookies que usamos es la de realizar funciones de servicio (por ejemplo, recordar las preferencias de idioma) para que la página web sea más intuitiva, efectiva y segura.
      Usted puede configurar su navegador para que le notifique cuando reciba cookies y le informe durante cuánto tiempo estarán activas (por ejemplo, las cookies de sesión solo están activas durante su visita a la página web, mientras que las cookies a largo plazo que facilitan sus entradas y acciones en la página web duran hasta 90 días para que usted no tenga que repetirlas si vuelve a visitar la página). Esta configuración le ayuda a decidir en cada caso si desea aceptar las cookies o si desea rechazarlas. Si usted inhabilita las cookies, la funcionalidad y los servicios de nuestra página web pueden verse limitados.
    </p>
    <h4 class="subtitle is-5">5. Procesamiento por Terceros</h4>
    <p>
      <strong>Personal MedSystems GmbH</strong> (en lo sucesivo denominada “PMS”): NNuestros servicios utilizan los dispositivos y la plataforma de Personal MedSystems GmbH. Esta empresa es Alemana y fabrica los dispositivos en el mismo país y por lo pronto se mantiene actualizada y cumple con el Reglamento General de Protección de Datos de la UE y la Ley Federal de Protección de Datos de Suiza. Las aplicaciones que se usan, avisan en todo momento la actualización de la Políticas de Privacidad de PMS.
    </p>
    <p>
      <strong>Mercadopago</strong>: Nuestro sitio web utiliza los servicios de pagos de Mercado Pago de Deremate.com 
      de Uruguay S.R.L., R.U.T: 214111700011(«MP»), por lo que la protección de sus datos personales de sus 
      tarjetas de crédito es responsabilidad de Mercadopago y solamente quedan registrados en los servidores 
      de dicha empresa que cumple con sus condiciones de seguridad establecida en 
      <a href="https://www.mercadopago.com.uy/ayuda/terminos-y-politicas_194">https://www.mercadopago.com.uy/ayuda/terminos-y-politicas_194</a>. 
      Al momento de pagar, se le solicitan los datos de su tarjeta de credito, utilizando el API de MercadoPago, 
      los validamos y solicitamos un token. Este token nos permite procesar la operacion/transaccion en pantalla. 
      Las transacciones realizadas a traves de MercadoPago apareceran como un consumo de nuestro servicio en su 
      resumen de cuenta en moneda local. BL guarda su identificador unico de MercadoPago para poder procesar 
      proximos pagos (como ser la subscripcion automatica). Los datos privados de su tarjeta, tal como numero y 
      CVV, NO llegan a nuestro servidor; se envian a los servidores de MercadoPago. Para mas informacion sobre 
      el api visitar: <A href="https://www.mercadopago.com.uy/developers/es/guides/payments/api/introduction/">https://www.mercadopago.com.uy/developers/es/guides/payments/api/introduction/</a>.
    </p>
    <p>
      <strong>Google Analytics</strong>:Nuestra página web utiliza Google Analytics, una herramienta de análisis 
      web de Google Inc. («Google»). Google Analytics utiliza las llamadas «cookies», archivos que se almacenan en 
      su ordenador y permiten analizar su uso de nuestra página web. La información generada por las cookies y el 
      análisis de su uso de esta página web suelen transferirse a un servidor de Google en EE. UU. para ser almacenados. 
      Por lo general, esta integración de Google Analytics se realiza a través de una anonimización de IP mediante 
      la cual Google acorta su dirección IP en los Estados miembro de la Unión Europea o el Espacio Económico 
      Europeo. Solo en casos excepcionales se enviará su dirección IP completa al servidor de Google en EE. UU. 
      para ser acortada allí. En representación de esta página web, Google utilizará esta información para analizar 
      el uso de esta página web de forma agregada, para producir informes de actividad web y para proporcionar 
      servicios al propietario de la página web relacionados con el uso de la página web y de Internet. La dirección 
      IP suya que se envíe desde su navegador a Google Analytics no se conectará con otros datos de Google. 
      Usted puede evitar el almacenamiento de cookies desde las opciones de configuración de su navegador. 
      Nótese que si usted inhabilita las cookies la funcionalidad de nuestra página web puede verse limitada. 
      Asimismo, usted puede evitar que las cookies recopilen datos sobre su uso de la página web (incluyendo 
      su dirección IP) y que los transfieran a Google descargando e instalando un plugin de navegador en el 
      siguiente enlace: https://tools.google.com/dlpage/gaoptout?hl=es Para más información, visite 
      <a href="https://tools.google.com/dlpage/gaoptout?hl=es">https://tools.google.com/dlpage/gaoptout?hl=es</a> o 
      <a href="https://support.google.com/analytics/answer/6004245?hl=es">https://support.google.com/analytics/answer/6004245?hl=es</a> 
      (información general sobre Google Analytics y la protección de privacidad). Nótese que el código 
      "gat._anonymizeIp();" ha sido añadido a Google Analytics para garantizar la recopilación anónima 
      de direcciones IP (conocido como enmascaramiento IP) y evitar que se puedan relacionar directamente 
      con una persona. Especialmente en el caso de navegadores de teléfonos móviles, haga clic en 
      <a href="https://tools.google.com/dlpage/gaoptout?hl=es">https://tools.google.com/dlpage/gaoptout?hl=es</a> 
      para evitar que Google Analytics recopile en el futuro información anónima en esta página web desde su navegador.
    </p>
    <p>
      <strong>Seguimiento de Conversiones de Google Ads:</strong> Esta página web utiliza el seguimiento de conversiones de Google Ads, una herramienta de análisis web de Google Inc. («Google»). El seguimiento de conversiones de Google Ads también utiliza «cookies» almacenadas en su ordenador que permiten analizar el uso de la página web. La información generada por las cookies sobre su uso de esta página web se envía a un servidor de Google en EE. UU. para ser almacenada. Google utiliza esta información para evaluar su uso de la página web recopilando informes sobre actividad web para operadores de páginas web y ofreciendo otros servicios relacionados con la actividad web y la navegación por Internet. Google también podrá enviar esta información a terceros si la ley lo requiere o si estos terceros procesan los datos en nombre de Google. Google no conectará estos datos con otros datos de Google bajo ninguna circunstancia. Usted puede inhabilitar el uso de cookies evitando el almacenamiento de cookies desde las opciones de configuración de su navegador.
    </p>
    <p>
      <strong>Facebook</strong>:
      Nuestro sitio web contiene etiquetas de remarketing de la red social Facebook, 1601 South California Avenue, 
      Palo Alto, CA 94304, Estados Unidos. Si usted visita nuestra página web, la etiqueta de remarketing creará 
      un enlace directo entre su navegador y el servidor de Facebook. Por lo tanto, Facebook será informado de 
      su visita a nuestra página web. Esto permite que Facebook vincule sus visitas a nuestra página web con su 
      cuenta de usuario. Podremos usar la información obtenida para fines de publicidad a través de Facebook Ads. 
      Queremos informarle de que, al ofrecerle el uso de nuestra página web, no obtenemos conocimientos sobre el 
      contenido de los datos transferidos ni del uso que Facebook hace de esos datos. Usted puede encontrar más 
      información sobre la política de privacidad de Facebook en 
      <a href="https://www.facebook.com/about/privacy/">https://www.facebook.com/about/privacy/</a>. 
      Si usted no desea que Facebook almacene ningún dato a través de Facebook Custom Audience, usted puede 
      desactivar Custom Audience en el siguiente enlace: 
      <a href="https://www.facebook.com/ads/website_custom_audiences">https://www.facebook.com/ads/website_custom_audiences</a>.
    </p>
    <p>
      <strong>Twitter</strong>:
      Nuestras páginas web utilizan plugins sociales («plugins») de la red social Twitter, operada por Twitter Inc., 
      795 Folsom St., Suite 600, San Francisco, CA 94107, Estados Unidos («Twitter»). Los plugins de Twitter se 
      pueden identificar por el símbolo del pájaro o por la letra «t». Al acceder a una de nuestras páginas 
      web que contienen este plugin, su navegador se conecta automáticamente a los servidores de Twitter. El 
      contenido del plugin se transmite directamente desde Twitter a su navegador, desde donde se integra en 
      la página web. A través de la integración de plugins se informa a Twitter de que usted ha accedido nuestra 
      página web. Si usted ha iniciado sesión en Twitter antes de utilizar uno de estos plugins, Twitter puede 
      vincular su visita con su cuenta de Twitter. Al interactuar con los plugins, por ejemplo al hacer clic en 
      un botón, la información correspondiente se transmite directamente a Twitter, donde se almacena. Si usted 
      no tiene cuenta de Twitter, o si no ha iniciado sesión antes de visitar nuestra página web, aún cabe la 
      posibilidad de que Twitter conozca y guarde su dirección IP. Para más información sobre la finalidad y el 
      alcance de la recopilación de datos, el procesamiento y el uso de datos por parte de Twitter y sus 
      derechos y las preferencias que usted puede configurar para proteger su privacidad, consulte la Política de 
      Privacidad de Twitter: <a href-"https://twitter.com/es/privacy">https://twitter.com/es/privacy</a>. 
      Si usted tiene una cuenta de Twitter y no quiere que 
      Twitter recopile datos sobre sus visitas a nuestra página web, los cuales pueden ser vinculados a los datos 
      que Twitter almacena sobre usted, debe cerrar sesión en Twitter antes de visitar nuestra página web y 
      borrar las cookies. Para más información sobre cookies, consulte la sección «Cookies» de este documento.
    </p>
    <p>
      <strong>YouTube</strong>:Nuestras páginas web utilizan plugins de la página web operada por Google, 
      YouTube. El operador del sitio web es YouTube, LLC, 901 Cherry Ave., San Bruno, CA, 94066, Estados Unidos. 
      Al acceder a una de nuestras páginas web que contienen un plugin de YouTube, su navegador se conecta 
      automáticamente a los servidores de YouTube. Por lo tanto, el servidor de YouTube recibe información 
      sobre las páginas nuestras que usted ha visitado.

      Si usted ha iniciado sesión en YouTube antes de acceder a nuestra página web, YouTube puede vincular 
      su visita con su perfil personal de YouTube. Usted puede evitar esto cerrando antes su sesión de YouTube.

      Para más información, consulte la política de privacidad de YouTube: 
      <a href="https://www.google.com/intl/es/policies/privacy/">https://www.google.com/intl/es/policies/privacy/</a>.
    </p>



    <h3 class="subtitle is-5">III. Información sobre Protección durante el Uso de la Aplicación</h3>
    <p>
      Para instalar la aplicación CardioSecur de PMS en su teléfono móvil o tableta no se requieren permisos especiales (por ejemplo, acceso al GPS, la galería, la información de perfil, etc.). Durante el uso de la aplicación usted tendrá la opción de seleccionar los contactos con los que quiera conectar directamente a través de la aplicación (en cuyo caso la aplicación necesitará acceder a su lista de contactos).
    </p>
    <p>
      Si utiliza una plataforma en la nube (por ejemplo, iTunes, iCloud o plataformas de Android) como sistema de copia de seguridad de su teléfono móvil o tableta, los datos almacenados localmente en la aplicación de CardioSecur se guardarán allí también. Si este es el caso, consulte las últimas provisiones sobre protección de datos del proveedor de la plataforma (por ejemplo, para Apple, visite <a href="https://www.apple.com/legal/privacy/es/">https://www.apple.com/legal/privacy/es/</a>).
    </p>



    <h3 class="subtitle is-5">IV. Información sobre la Protección de Datos de los Clientes de BambusLife</h3>
    <p>
      Hemos tomado medidas técnicas y organizativas para proteger de forma fiable los datos que recibimos de usted. Para asegurarnos de que sus datos se traten de manera confidencial, nuestros empleados han recibido información y formación sobre el cumplimiento de las leyes de protección de datos (en especial el artículo 5 del RGPD y la Ley Federal de Protección de Datos de Suiza y la ley Uruguaya), así como sobre la obligación general de confidencialidad. Nuestras medidas de seguridad también implican que cuando usted contacte con nosotros por teléfono le realizaremos una comprobación de identidad.
    </p>
    <p>
      Además, le pedimos que usted mismo tome todas las medidas posibles para asegurar la protección de sus datos al navegar por Internet. Adquiera el hábito de cambiar su contraseña a menudo. Recomendamos usar una combinación de letras y números como contraseña. Utilice un navegador seguro compatible con encriptación SSL cuando navegue por Internet. Cierre sesión en los ordenadores que no sean usados solo por usted. No dé a conocer su contraseña a terceros.
    </p>
    <p>
      En nuestro sitio web Bambus.Life y app.Bambus.Life, recurrimos a la encriptación SSL estándar para encriptar sus datos para cuando se requiere información personal. Con la encriptación SSL sus datos son encriptados de tal manera que al llegar a nuestro servidor no pueden leerse por terceros. Este método protege sus datos de pago para transacciones en línea.
    </p>
    <h4 class="subtitle is-5">Datos técnicos relacionados con la seguridad</h4>
    <p>
      Encriptación con certificados SSL para transferencias de datos confidenciales. Protección de servidores: nuestros servidores están protegidos por sistemas de cortafuegos contra ataques. El sistema interno de seguridad y las elaboradas medidas de autorización aseguran que los datos confidenciales solo sean accesibles con la finalidad de ejecutar el contrato y solo por las personas designadas (por ejemplo, los datos médicos por los doctores, los datos contables por el departamento de contabilidad, la gestión y control de funcionamiento por los operadores, etc.).
    </p>
    <h4 class="subtitle is-5">1. Manejo de Datos de Clientes y Pacientes</h4>
    <p>
      El acceso a los datos de clientes o pacientes está regulado de manera que el menor número de personas (incluyendo el médico y/o entidad médica seleccionado por el cliente) tengan acceso simultáneamente a la identidad y a los datos médicos del paciente. El acceso está protegido por las contraseñas respectivas.<br>
      Para ejecutar el contrato se recopilan y procesan los siguientes tipos de datos:
    </p>
    <p>
      Para ejecutar el contrato se recopilan y procesan los siguientes tipos de datos:
      <ul>
        <li>Datos de contacto: nombre, dirección, número de teléfono, correo electrónico, sexo, etc.</li>
        <li>Fecha de las mediciones: hora y fecha de las mediciones de ECG.</li>
        <li>Datos médicos: datos sin procesar de las mediciones de ECG, evaluaciones automáticas y otros datos de salud proporcionados de manera opcional por usted.</li>
      </ul>
    </p>
    <p>
      Estos datos son almacenados en nuestros propios servidores en Uruguay, Alemania y Finlandia.
    </p>
    <p>
      El representante de BambusLife que maneja los datos de los clientes tiene una posición de confianza especial y se encarga de las transacciones de los clientes relacionadas con las cuestiones técnicas de las mediciones de ECG. Ningún otro asesor tendrá acceso a los datos médicos ni a los resultados, sino que solo podrán ver la hora y fecha de las mediciones de ECG.
    </p>
    <p>
      Además, BambusLife contrata a personal técnico interno y externo para mantener y desarrollar el portal. En cumplimiento de los requisitos del RGPD para datos de categorías especiales, este círculo reducido de personas, que pueden ser identificadas en todo momento, está obligado contractualmente por BambusLife a asegurar que todos los datos personales y médicos sean manejados con la protección especial necesaria.
    </p>



    <h4 class="subtitle is-5">Aviso importante:</h4>
    <p>
      <strong>
        Al dar consentimiento a nuestra política de privacidad y al proporcionar datos médicos por voluntad propia, el cliente (respecto a BambusLife SA) o paciente (respecto al médico seleccionado) estará dando permiso expresamente al círculo selecto de personas mencionado anteriormente para acceder a los datos personales y médicos.<br>
        Cuando usted se registra en el portal, los médicos aceptan tratar bajo secreto profesional los datos personales y médicos que se les proporcionen, así como respetar las disposiciones de Uruguay, del RGPD y la Ley Federal de Protección de Datos de Suiza.
      </strong>
    </p>
    <p>
      Los clientes o pacientes solo tendrán acceso a sus cuentas de usuario de las siguientes maneras:
    </p>
    <ul>
      <li>
        A través de Internet o la aplicación usando una contraseña que contenga al menos 6 caracteres y que incluya letras y números. Si el cliente olvida su contraseña, podrá restablecerla usando su nombre de usuario. El cliente recibirá un enlace en un mensaje enviado a la dirección de correo electrónico que consta en su cuenta de usuario, lo que permitirá al cliente crear una nueva contraseña antes de 24 horas y recuperar el acceso a su cuenta. <strong>La contraseña no será visible para el Servicio de Atención al Cliente de BambusLife (en lo sucesivo «SAC») y no servirá como identificación en caso de atención telefónica.</strong>
      </li>
      <li>
        Por teléfono a través de una comprobación de identidad del cliente. En este caso el SAC podrá ver la información personal del cliente, informarle sobre la misma y alterarla si el cliente así lo solicita. Asimismo, el SAC puede restablecer la contraseña (véase la información anterior).
      </li>
      <li>
        Por correo postal enviando una carta informal por escrito y una copia del carnet de identidad. En esta carta, el cliente podrá solicitar una copia de sus datos personales y médicos (dando su consentimiento expreso en la carta) e informar de cualquier cambio sobre su información personal. Además, el cliente también podrá solicitar un restablecimiento de contraseña (véase la información anterior).
      </li>
    </ul>

    <h4 class="subtitle is-5">2. Facturación y Cobro de Deudas</h4>
    <p>
      Si hemos de contratar bufetes de abogados o agencias de cobros para cobrar nuestras reclamaciones, les suministraremos los datos necesarios para liquidar la cuenta del cliente en la medida en que sea necesario para cobrar las reclamaciones y expedir una factura detallada. Estos terceros estarán obligados a cumplir con las leyes vigentes de protección de datos. Se procederá del mismo modo si contratamos cualquier otro proveedor de servicios que podamos necesitar para cumplir con los servicios contratados, como por ejemplo para facturar, manejar pagos y recaudar deudas.
    </p>

    <h4 class="subtitle is-5">3. Logística</h4>
    <p>
      Contratamos a terceros para los aspectos logísticos de sus pedidos (por ejemplo, el servicio de mensajería DHL). Únicamente proporcionamos a terceros los datos necesarios sobre su pedido con esta finalidad. Estos terceros estarán obligados a cumplir con las leyes de protección de datos vigentes.
    </p>

    <h4 class="subtitle is-5">4. Envío del Boletín a Clientes Actuales</h4>
    <p>
      Además, y en la medida en que sea legalmente admisible, utilizaremos su dirección de correo electrónico, la cual obtenemos con cada venta de un bien o servicio, únicamente para publicitar en forma de boletín electrónico otros bienes o servicios nuestros similares a los que usted ha adquirido, siempre que no se oponga a ello. Usted puede oponerse a que usemos su dirección de correo electrónico en cualquier momento sin incurrir en ningún gasto que no sean los gastos de comunicación según las tarifas básicas. Usted puede comunicarnos su objeción (y, por tanto, la cancelación de nuestro boletín) enviando un mensaje a nuestra dirección de correo electrónico (la cual se encuentra en el boletín). En cuanto al uso y almacenamiento de su dirección de correo electrónico por nuestra parte y por el distribuidor de nuestro boletín, consulte la sección II. 2.
    </p>

    <h4 class="subtitle is-5">5. Periodo de Almacenamiento y Fin del Procesamiento de Datos</h4>
    <p>
      Los datos del cliente se almacenan solo en la medida en que esto sea esencial para los fines contractuales y de acuerdo con la normativa vigente. En cuanto a la anonimización y eliminación de datos, consulte la sección I. 4. Por lo demás, no almacenamos ni procesamos ningunos datos. No utilizaremos los datos del cliente con fines comerciales o publicitarios, ni los compartiremos con terceros para estos fines, sin el previo consentimiento explícito del cliente.
    </p>
    <p>
      Estamos legalmente autorizados a utilizar datos anónimos de clientes para mejorar la oferta de BambusLife, o reenviarla a terceros con fines de investigación en el contexto de la lucha contra las enfermedades cardiovasculares o las evaluaciones estadísticas, todo ello manteniendo el más estricto anonimato.
    </p>



    <h3 class="subtitle is-5">V. Información sobre la Protección de Datos de los Médicos Participantes</h3>
    <p>
      Podremos recoger, almacenar y procesar los datos de los médicos participantes en cumplimiento de las leyes de protección de datos en la medida en que sea necesario para establecer, enmendar y ejecutar el contrato o para expedir facturas. Concretamente, recogemos, almacenamos y procesamos los datos de los médicos del siguiente modo:
    </p>
    <h4 class="subtitle is-5">1. Procesamiento de Datos para Fines Contractuales y Envío de datos</h4>
    <p>
      Recogemos, almacenamos y procesamos los datos de inventario de los médicos y cualquier otra información relacionada con el médico y su actividad como usuario (datos de conexión tales como el número, la hora y la duración de las conexiones, las contraseñas de acceso y las subidas y descargas) en la medida en que esto sea necesario para la ejecución del contrato. Estos datos son almacenados en nuestros propios servidores en Uruguay, Alemania y Finlandia.
    </p>
    <p>
      No enviaremos los datos del médico a terceros sin su consentimiento, salvo que estemos legalmente obligados o autorizados para hacerlo. En cuanto al procesamiento de datos en el contexto de los servicios que requieren registrarse, consulte la sección II. 3 en particular.
    </p>
    <h4 class="subtitle is-5">2. Uso de Datos de Inventario con otros Fines y Declaración de Consentimiento de los Médicos</h4>
    <p>
      Independientemente de nuestra autoridad legal para recopilar, almacenar y procesar datos, el médico acuerda que, en la medida en que sea legalmente admisible, también podamos utilizar sus datos de inventario y sus datos anonimizados sobre la intensidad de uso (por ejemplo, número de lecturas o de pacientes) exclusivamente para fines de asesoramiento, publicidad y estudios de mercado, así como para la adecuada prestación de nuestros servicios. El médico podrá revocar tal uso de sus datos en cualquier momento con efecto futuro.
    </p>
  </div>
</div>

{% endblock %}


{% block footer %}
  {{ include('components/footer.html.twig') }}
{% endblock %}