{% extends 'base.html.twig' %}

{% block title %}Terminos y condiciones | BambusLife{% endblock %}

{% block description %}Terminos y condiciones | BambusLife{% endblock %}

{% block keywords %}Terminos y condiciones, terminos, condiciones{% endblock %}

{% block header %}
  {{ render(controller('App\\Controller\\Components\\HeaderController::index')) }}
{% endblock %}

{% block body %}

<div class="container white-box" style="padding: 20px;">
  <h1 class="subtitle is-3" style="margin-top: 50px;">Terminos y condiciones</h1>
  <div class="content">

    <p>
    Nosotros, BambusLife SA (en lo sucesivo “BL”), ofrecemos a los consumidores bienes y servicios móviles de salud a través de nuestra tienda online o la tienda de aplicaciones del respectivo proveedor de teléfono móvil. <br>
    Las siguientes Condiciones Generales regulan la relación contractual entre el cliente y BL tanto para la compra de productos como para la prestación de servicios a nuestros clientes.<br>
    Si usted desea adquirir nuestros bienes o servicios, por ejemplo como parte de un paquete de productos o una subscripción, por favor lea las siguientes secciones detenidamente. BL presta sus servicios exclusivamente en cumplimiento de las siguientes condiciones:
    </p>

    <h3 class="subtitle is-4">I. Ámbito de Aplicación / Oferta / Creación del Contrato</h3>
    <h4 class="subtitle is-5">1. Ámbito de Aplicación</h4>
    <p>
      Prestaremos nuestros servicios contractuales exclusivamente sobre la base de estas Condiciones Generales, las cuales pueden ser complementadas o modificadas en casos individuales por listas de precios, descripciones de servicios o documentos contractuales anexos específicos de cada producto.
    </p>
    <h4 class="subtitle is-5">2. La Oferta de BL</h4>
    <p>
      2.1 BL vende dispositivos médicos del tipo ECG y aplicaciones de uso en el sector de salud, con sus servicios asociados para teléfonos móviles y tabletas, incluyendo accesorios, a través de la página web <a href="http://bambus.life">http://bambus.life</a> (en lo sucesivo, <strong>“Página”</strong>). Asimismo, BL ofrece sus aplicaciones de manera gratuita en la tienda de aplicaciones de los respectivos proveedores del teléfono o tableta.
      <br>
      2.2 BL opera una plataforma de servicios integrada online (en lo sucesivo, <strong>“Plataforma”</strong>), es decir, una base de datos que permite al médico ver, descargar, guardar e imprimir (en lo sucesivo, <strong>“acceder”</strong>) los datos médicos del cliente (en lo sucesivo, <strong>“los datos médicos”</strong>).
      <br>
      2.3 BL permite al cliente crear una cuenta de usuario (en lo sucesivo, <strong>“Cuenta”</strong>) en la Plataforma en la cual el cliente puede guardar, ver y administrar sus datos médicos. BL solo permitirá que los datos de la Cuenta proporcionados por el cliente sean accedidos por el médico titulado elegido por el cliente ante BL en la Plataforma (en lo sucesivo, el <strong>“médico”</strong>). El prerrequisito para esto es que el médico a su vez haya creado una cuenta de usuario del médico en la Plataforma (en lo sucesivo, la <strong>“Cuenta del médico”</strong>).
      <br>
      2.4 BL no está involucrado en ninguna relación legal entre el médico y el cliente. En concreto, cualquier evaluación de los datos médicos a los que tiene acceso el médico y cualquier acción médica que el médico tome como resultado de dicha evaluación no están cubiertos por este acuerdo, sino únicamente por la relación legal entre el cliente y el médico. Sobre la base de este acuerdo, el médico no tiene obligación de ver los datos en la Cuenta del cliente ni de actuar en un periodo de tiempo concreto. Más aún, BL no tiene obligación de participar en el establecimiento de las relaciones legales entre el cliente y el médico, ni de influenciar el contenido de las mismas de ningún modo.
      <br>
      2.5 El cliente puede cambiar de médico en cualquier momento a través de su Cuenta. En cuanto se seleccione un médico, BL hará accesibles los datos médicos solo al nuevo médico seleccionado por el cliente.
      <br>
      2.6 Se informa al cliente de que se puede dar fin a la relación entre el médico elegido y BL al final de cualquier mes natural con un preaviso de tres semanas. En tal caso, BL dejará de hacer accesibles los datos médicos del cliente al médico en cuestión. El cliente tendrá la opción de elegir a otro médico y de notificar de tal elección a BL.
      <br>
      2.7 También se informa al cliente de que se podrá dar fin a la relación contractual entre el médico del cliente y BL si el médico no renueva su comprobación de identidad en el registro de médicos de la Plataforma en el tiempo estipulado.
      <br>
      2.8 BL no se hará responsable ante el cliente en caso de que la información de la Plataforma sobre la persona, oficio, identidad y registro de los médicos sea incorrecta o esté incompleta.
      <br>
      2.9 Los datos médicos del cliente se transfieren a la Cuenta a través de la tableta o teléfono móvil del cliente en combinación con una conexión a Internet y software adicional proporcionado por BL (véanse las especificaciones del dispositivo elegido en cuanto a los requisitos técnicos de las tabletas y teléfonos móviles soportados). El cliente debe descargar el software requerido desde la página web de BL o la tienda de aplicaciones del sistema operativo respectivo. BL no asumirá ninguna responsabilidad por la instalación incorrecta del software en el dispositivo del cliente ni por el cumplimiento de los requisitos de instalación por parte del cliente. Por lo demás, se aplicarán las especificaciones de rendimiento del dispositivo elegido y los requisitos de instalación para que el cliente pueda descargar el software.
      <br>
      2.10 Se requerirá el consentimiento expreso del cliente ante BL para dar acceso a la Cuenta y los datos que esta contiene a terceros que no sean el médico. <strong>En cuanto a la compañía de seguros de salud del cliente, el cliente da su consentimiento, sujeto al acuerdo contractual entre el cliente y la compañía, a que la compañía de seguros tenga permiso para ver la Cuenta del cliente y los datos que esta contiene</strong>.
      <br>
      2.11 BL garantizará una media de disponibilidad del servidor de la Plataforma de un 99 % al año. Esto excluye los periodos de tiempo en los que el servidor no esté disponible debido a problemas técnicos o de otro tipo fuera del control de BL (fuerza mayor, culpa de terceros, etc.) y los trabajos de mantenimiento establecidos por BL.
    </p>
    <h4 class="subtitle is-5">3. Creación del Contrato</h4>
    <p>
      3.1 Las ofertas de BL no son vinculantes. Al hacer un pedido en la tienda online de BL o registrarse en la Plataforma a través de la página web o del software de BL, el cliente hace una oferta vinculante a BL para formar un contrato. Primero, el cliente recibe un acuse de recibo de su pedido o registro por correo electrónico en la dirección de correo electrónico que ha proporcionado (en lo sucesivo, la “confirmación de pedido”). Sin embargo, el contrato se establece solamente cuando BL envía la confirmación de pedido por correo electrónico al cliente, cuando BL realiza la entrega de los bienes adquiridos o cuando BL empieza a proporcionar el servicio.
      <br>
      3.2 Al enviar la oferta vinculante a BL, el cliente confirma que tiene total capacidad jurídica y, en concreto, que es mayor de edad.
      <br>
      3.3 Para crear una Cuenta en la Plataforma, el cliente estará obligado a facilitar los datos personales requeridos de manera completa, precisa y fidedigna. Si alguna información esencial requerida para la creación de la Cuenta cambia durante la duración del contrato (por ejemplo, un cambio de dirección en caso de mudanza, o nuevos datos de pago), el cliente tendrá obligación de notificar de inmediato a BL actualizando los datos en su Cuenta él mismo.
      <br>
      3.4 Al realizar un pedido a través de la tienda online de BL, el proceso de pedido comprende un total de cuatro (4) pasos: En el primer paso, el cliente selecciona los bienes deseados. En el segundo paso, el cliente introduce sus datos, incluyendo sus direcciones de facturación y de entrega. En el tercer paso, el cliente elige el método pago. En el último paso, el cliente tiene la oportunidad de comprobar todos los datos otra vez (por ejemplo, el nombre, la dirección, el método de pago, los artículos pedidos) y de corregirlos, de ser necesario, antes de enviar el pedido a BL haciendo clic en «comprar/pagar».
      <br>
      3.5 BL almacenará el texto del contrato del pedido del cliente. El cliente puede imprimir el pedido antes de enviarlo haciendo clic en el botón «Imprimir» del navegador. También enviaremos al cliente una confirmación de pedido o acuso de recibo con todos los datos del pedido a la dirección de correo electrónico especificada por el cliente.
      <br>
      3.6 Las ilustraciones y la información sobre tamaño, peso y detalles sobre el rendimiento deberán tomarse como aproximadas. No serán vinculantes salvo que así se indique. Nos reservamos los derechos de uso, propiedad o de autor de los dibujos y otros documentos. Estos objetos no podrán ser accesibles a terceros.
    </p>
    <h4 class="subtitle is-5">4. Obligaciones del Cliente</h4>
    <p>
      4.1 El cliente solo podrá realizar pedidos con nosotros tras crear una cuenta de usuario (en lo sucesivo, <strong>“Cuenta”</strong>).
      <br>
      4.2 El cliente estará obligado a facilitar los datos personales requeridos de manera completa, precisa y fidedigna para crear una Cuenta en la Plataforma y para realizar el pedido. Si alguna información esencial requerida para la creación de la Cuenta cambia durante la duración del contrato (por ejemplo, un cambio de dirección en caso de mudanza, o nuevos datos de pago), el cliente tendrá obligación de notificar de inmediato a BL actualizando los datos en su Cuenta él mismo.
      <br>
      4.3 El cliente facilitará las condiciones que sean necesarias para la correcta prestación de nuestros servicios.
      <br>
      4.4 El cliente se compromete a hacer un uso exclusivamente legítimo de nuestra tienda online, página web, aplicación y Plataforma (en lo sucesivo, <strong>“nuestros servicios”</strong>). El cliente garantiza que en el marco de la utilización de nuestros servicios no extraerá ni difundirá contenidos en un contexto criminal o contra los derechos de terceros (en concreto derechos de propiedad industrial y de competencia) u otras disposiciones legales vigentes. En particular, está prohibido difundir contenido perjudicial para menores, la pornografía infantil, el contenido extremista y el racista, los ataques de virus, las cartas en cadena y el envío de correo electrónico en masa sin el consentimiento del destinatario (el llamado «spamming»). Está también prohibido el uso indebido de nuestros servicios para atacar contra la seguridad de las redes, servidores o cuentas de terceros (ataques de cracking, hacking y denegación de servicio). Los actos anteriormente citados nos autorizan a rescindir el contrato inmediatamente de manera extraordinaria sin tener que justificar los motivos y a denegar el acceso del cliente a nuestros servicios.
      <br>
      4.5 El cliente nos eximirá de cualquier reclamación realizada por terceros causada por el uso ilícito de nuestros servicios por parte del cliente. El cliente deberá informarnos inmediatamente de cualquier reclamación realizada por terceros causada por el uso ilícito de nuestros servicios.
      <br>
      4.6 El cliente declara que si facilita a terceros el uso de su acceso o su nombre de usuario, intencionada o inintencionadamente, consciente o inconscientemente, será plenamente responsable de todos los actos que estos terceros realicen online. El cliente será responsable de tal uso indebido y asumirá todos los gastos ocasionados por el uso no autorizado.
      <br>
      4.7 El cliente mantendrá secreto su código de conexión (nombre de usuario, contraseña, PINs y REALM) y asegurará su correcto uso. Señalamos que el guardar las contraseñas y demás en la tableta o teléfono móvil propicia el riesgo de uso indebido por terceros. Si el cliente tiene la sospecha de que su contraseña y demás han sido accedidos por terceros sin su autorización, el cliente tendrá la obligación de alertarnos de inmediato y de pedir que se cambien los datos relevantes o, si es posible, de cambiarlos él mismo. El cliente asumirá los gastos de bloqueo o de cambio del código de conexión en la medida en que el cliente sea el responsable de la necesidad del bloqueo o cambio.
      <br>
      4.8 Aunque realizamos copias de seguridad regularmente, no podemos garantizar que haya copias de seguridad de todos los datos del cliente. El cliente debe ser consciente de esto y garantizar que se hagan copias de seguridad de sus datos regularmente. No nos haremos responsables de las pérdidas de datos y entradas del cliente.
      <br>
      4.9 Si nos percatamos de cualquier acto ilícito del cliente, o si se nos informa sobre un presunto acto ilícito de terceros, facilitaremos los datos personales a las fuerzas policiales y de la ley en el marco de las disposiciones legales. Si, sobre la base de las disposiciones legales, se nos solicita que comprobemos de antemano la legitimidad de la transmisión o del acto en cuestión, cumpliremos con esta solicitud.
      <br>
      4.10 Si el cliente sospecha de un uso indebido de sus datos por parte de terceros, el cliente deberá notificar a BL inmediatamente por teléfono. La identidad del cliente se comprueba por teléfono con una verificación de los datos personales del cliente. Tan pronto como se informe a BL del uso no autorizado, BL bloqueará la Cuenta del cliente. BL se reserva el derecho de cambiar el código de conexión del cliente de inmediato (nombre de usuario, contraseña, etc.) y a enviárselo al cliente por correo electrónico.
      <br>
      4.11 Si el cliente incumple sus obligaciones contractuales con culpa, tendremos derecho a bloquear el nombre de usuario. En el caso de infracciones graves, nos reservamos el derecho de cancelar de manera extraordinaria el registro del cliente con nuestros servicios.
    </p>
    <h4 class="subtitle is-5">5. Derecho de Revocación</h4>
    <p>
      <strong>
        En caso de que el contrato con BL se haya creado utilizando solamente medios de telecomunicación (es decir, online o por correo electrónico, teléfono, fax o correo postal), el cliente tiene derecho de revocación de acuerdo con las siguientes condiciones, siempre que el cliente sea un consumidor según la definición del artículo 2 Ley Nº 17.250 (Defensa del Consumidor) del Uruguay (es decir, si es una persona física y si la transacción no está relacionada con sus actividades comerciales o sus actividades como trabajador autónomo):
      </strong>
    </p>
    <p>
      <strong>a) Instrucciones de Revocación (para la compra de un único producto o una sola compra)</strong>
    </p>
    <p>
      <strong>Derecho de Revocación</strong>
    </p>
    <p>
      Usted puede revocar este contrato en un plazo de catorce días sin tener que justificar los motivos.
      <br>
      El plazo (periodo de revocación) es de 14 días a partir del día en que usted, o un tercero autorizado por usted que no sea el mensajero, recibió los bienes.
      Para ejercer su derecho de revocación, usted debe informar al Servicio de Atención al Cliente de BambusLife SA, Br. España 2630, of. 301, CP 11.300, Montevideo, Uruguay, email: <a href="mailto:info@bambus.life">info@bambus.life</a>, mediante una declaración clara (por ejemplo, por carta o correo electrónico) expresando su decisión de revocar este contrato. Usted puede usar el modelo de revocación que se adjunta, aunque esto no es obligatorio.
      <br>
      Para cumplir el plazo de revocación, usted deberá enviar la notificación de revocación antes de que expire el plazo de revocación.
    </p>
    <p>
      <strong>Consecuencias de la Revocación</strong>
    </p>
    <p>
      En caso de que usted proceda con la revocación, le reembolsaremos inmediatamente todos los pagos que hayamos recibido de usted, incluyendo los gastos de envío (con la excepción de los gastos adicionales que resulten de la elección de un método de envío que no sea el estándar que ofrecemos) en un plazo máximo de 14 días a partir del día en que recibamos la notificación de revocación de este contrato. Para efectuar este reembolso, utilizaremos los mismos modos de pago que usted seleccionó al realizar el pedido, siempre que no acordemos expresamente con usted un modo de pago diferente. No se le cobrará por el reembolso en ningún caso.
      <br>
      Podemos negarnos a devolverle el dinero hasta que hayamos recibido la mercancía o hasta que haya proporcionado comprobante de que ha devuelto la mercancía, lo que ocurra primero.
      <br>
      Usted tendrá la obligación de devolver los bienes inmediatamente y en un plazo máximo de 14 días a partir de la fecha en que recibimos la revocación del contrato. El plazo de revocación se cumplirá si usted devuelve los bienes antes de que expire el plazo de revocación de 14 días.
      <br>
      Usted deberá asumir los gastos de la devolución de los bienes.
      <br>
      Usted deberá compensarnos por cualquier deterioro de los bienes, salvo que el deterioro sea el simple resultado de la inspección de los bienes, como la que podría darse en una tienda, y no del manejo inapropiado de los bienes.
    </p>
    <p>
      <strong>b) Instrucciones de Revocación (modelo de subscripción)</strong>
    </p>
    <p>
      <strong>Derecho de Revocación</strong>
    </p>
    <p>
      Usted puede revocar este contrato en un plazo de catorce días sin tener que justificar los motivos.
      <br>
      El plazo (periodo de revocación) es de 14 días a partir del día en que usted, o un tercero autorizado por usted que no sea el mensajero, recibió los bienes por primera vez.
      <br>
      Para ejercer su derecho de revocación, usted debe informar al Servicio de Atención al Cliente de Personal de BambusLife SA, Br. España 2630, of. 301, CP 11.300, Montevideo, Uruguay, email: <a href="mailto:info@bambus.life">info@bambus.life</a>, mediante una declaración clara (por ejemplo, por carta o correo electrónico) expresando su decisión de revocar este contrato. Usted puede usar el modelo de revocación que se adjunta, aunque esto no es obligatorio.
      <br>
      Para cumplir el plazo de revocación, usted deberá enviar la notificación de revocación antes de que expire el plazo de revocación.
    </p>
    <p>
      <p>
        <strong>Consecuencias de la Revocación</strong>
      </p>
    </p>
    <p>
      En caso de que usted proceda con la revocación, le reembolsaremos inmediatamente todos los pagos que hayamos recibido de usted, incluyendo los gastos de envío (con la excepción de los gastos adicionales que resulten de la elección de un método de envío que no sea el estándar que ofrecemos) en un plazo máximo de 14 días a partir del día en que recibamos la notificación de revocación de este contrato. Para efectuar este reembolso, utilizaremos los mismos modos de pago que usted seleccionó al realizar el pedido, siempre que no acordemos expresamente con usted un modo de pago diferente. No se le cobrará por el reembolso en ningún caso.
      <br>
      Tenemos el derecho de no realizar el reembolso hasta que hayamos recibido los bienes o hasta que usted pruebe que ha devuelto los bienes, cual sea que que ocurra antes.
      <br>
      Usted tendrá la obligación de devolver los bienes inmediatamente y en un plazo máximo de 14 días a partir de la fecha en que recibimos la revocación del contrato. El plazo de revocación se cumplirá si usted devuelve los bienes antes de que expire el plazo de revocación de 14 días.
      <br>
      Usted deberá asumir los gastos de la devolución de los bienes.
      <br>
      Usted deberá compensarnos por cualquier deterioro de los bienes, salvo que el deterioro sea el simple resultado de la inspección de los bienes, como la que podría darse en una tienda, y no del manejo inapropiado de los bienes.
    </p>
    <h3 class="subtitle is-4">II. Condiciones Especiales para la Compra de Bienes</h3>
    <h4 class="subtitle is-5">1. Responsabilidad y Defectos</h4>
    <p>
      1.1 Si el bien adquirido es defectuoso, se aplicarán las disposiciones reglamentarias. El cliente no podrá ceder estos derechos.
    </p>
    <p>
      1.2 Si se requieren acciones adicionales, como la entrega de un producto de sustitución, el cliente tendrá la obligación de devolvernos los bienes originales en un plazo de 30 días a nuestras expensas. Los bienes defectuosos deberán devolverse en cumplimiento de las disposiciones legales. Nos reservamos el derecho de indemnización por daños bajo las condiciones reguladas por ley.
    </p>
    <p>
      1.3 El plazo de prescripción es de veinticuatro meses a partir de la fecha de entrega.
    </p>
    <h4 class="subtitle is-5">2. Reserva de Derechos de Propiedad</h4>
    <p>
      Los bienes entregados por BL siguen siendo propiedad de BL hasta que el cliente los pague completamente.
    </p>
    <h3 class="subtitle is-4">III. Condiciones Especiales para la Prestación de Servicios y Uso de una Cuenta de Usuario</h3>
    <h4 class="subtitle is-5">1. Obligaciones del Cliente, Reglamentos de Seguridad, Deberes de Diligencia</h4>
    <p>
      1.1 El cliente asegurará las condiciones que sean necesarias para la correcta prestación de nuestros servicios. En concreto, el cliente garantizará de manera independiente y por sus propios medios el acceso a Internet y la infraestructura técnica necesaria (hardware, software con protocolo TCP/IP, navegador, módem, telecomunicaciones, etc.). El cliente asumirá el riesgo de la pérdida de datos durante la transmisión. El cliente es el responsable único del equipo que utiliza (hardware y software) y de su idoneidad para la transmisión de datos con BL.
    </p>
    <p>
      1.2 No está permitido el uso de la Cuenta para guardar datos que no sean aquellos transmitidos por el software de BL.
    </p>
    <p>
      1.3 Los servidores que BL utiliza están protegidos por cortafuegos según el estado actual de la técnica. BL informa expresamente al cliente de que, en el estado actual de la técnica, no se puede garantizar la seguridad total en la transmisión de datos en redes abiertas tales como Internet. El cliente es consciente de que es posible que terceros accedan a sus datos sin autorización alguna, que interfieran con la seguridad de la red y que controlen la comunicación. Por este motivo, el cliente será responsable de la seguridad de los datos que envía a BL a través de Internet. Este es el objeto del contrato entre el cliente y su proveedor de servicios de telecomunicaciones o de Internet.
    </p>
    <p>
      1.4 Los datos almacenados en los servidores que BL utiliza están protegidos por sistema de copias de seguridad de última generación. Sin embargo, no podemos garantizar que haya copias de seguridad de todos los datos del cliente. El cliente debe ser consciente de esto. No nos haremos responsables de las pérdidas de datos y entradas del cliente.
    </p>
    <p>
      1.5 Además, si el cliente infringe estas Condiciones Generales de manera sustancial, BL tendrá derecho a bloquear la Cuenta del cliente. Esto será así especialmente en los siguientes casos:
      <ul>
        <li>
          si hay duda razonable sobre la veracidad o exhaustividad de los datos de registro del cliente o sobre la autorización activa del cliente y el cliente no ha despejado tales dudas por cuenta propia presentando los documentos necesarios a petición de BL;
        </li>
        <li>
          si hay una sospecha razonable de que se han infringido las normas de seguridad y los deberes de diligencia.
        </li>
      </ul>
    </p>
    <p>
      BL se reserva explícitamente el derecho a reclamaciones futuras.
    </p>
    <h4 class="subtitle is-5">2. Periodo del Contrato y Rescisión</h4>
    <p>
      2.1 Salvo que se haya acordado lo contrario, el contrato tendrá un periodo de validez mínimo de 3 meses. Si ninguna de las partes rescinde el contrato con una antelación mínima de un mes antes de la fecha de expiración, el contrato se prorrogará un mes más.
    </p>
    <p>
      2.2 Si el cliente (o, en su caso, la compañía de seguros de salud) no paga una parte considerable de la remuneración, BL podrá rescindir la relación contractual sin previo aviso. BL se reserva el derecho de reclamación por daños. El usuario se reserva el derecho a probar que los daños producidos son menores de lo que se reclama.
    </p>
    <p>
      2.3 Por lo demás, el derecho de las partes contractuales a rescindir por una causa justificada no se verá afectado.
    </p>
    <p>
      2.4 Salvo que se acuerde lo contrario, todas las rescisiones se deben realizar por escrito (o en forma de texto), por lo que la declaración de rescisión firmada deberá enviarse por fax o correo electrónico (como documento escaneado, por ejemplo en PDF) para obedecer a la forma de texto.
    </p>
    <h3 class="subtitle is-4">IV. Condiciones Generales</h3>
    <h4 class="subtitle is-5">1. Precios, Envío, Condiciones de Pago, Bloqueo</h4>
    <p>
      1.1 Todos los pagos que el cliente ha de realizar se pagarán en dólares americanos. Salvo que se especifique expresamente lo contrario, todos los precios se considerarán sin el valor añadido (IVA) incluido.
    </p>
    <p>
      1.2 Salvo que se acuerde expresamente lo contrario, y con la excepción de pedidos puntuales, las cantidades debidas se facturarán de manera mensual y deberán ser pagadas en el momento de la recepción de la factura por el cliente. Las cuentas por cobrar periódicas que deben pagarse mensualmente se pagarán por adelantado.
    </p>
    <p>
      1.3 Las cuentas por cobrar periódicas que el cliente ha de pagar mensualmente podrán pagarse mediante domiciliación bancaria (pago domiciliado). El pago domiciliado solo podrá autorizarse online a través del proceso de pedido electrónico. Se requerirá la siguiente información para autorizar el pago domiciliado:
      Cuenta de facturación,<br>
      Apellidos y nombre del titular de la cuenta,<br>
      Número de cuenta y código bancario, así como el nombre del banco,<br>
      Fecha y lugar.<br>
    </p>
    <p>
      1.4 Otras opciones de pago que se puedan ofrecer al cliente resultarán del proceso de pedido respectivo.
    </p>
    <p>
      1.5 En el caso de que la compañía de seguros de salud del cliente asuma parte o la totalidad de los pagos a BL sobre la base de un acuerdo contractual aparte, esto se deberá indicar en el proceso de pedido respectivo. Si procede, y dependiendo del acuerdo, la compañía de seguros de salud podrá adquirir vales de BL, los cuales proporcionará al cliente. Los vales contendrán el nombre del cliente, su número de cliente en la aseguradora, el código del vale, el periodo de validez del vale y los servicios de BL que el cliente podrá utilizar con el vale respectivo. Al utilizar los servicios de BL, el cliente podrá introducir el código del vale, de manera que la cantidad a pagar por el cliente se reducirá de acuerdo al porcentaje de los gastos que la aseguradora vaya a cubrir (hasta un 100 %). Los vales son intransferibles y se vincularán permanentemente a la Cuenta del cliente y a los datos que esta contiene (nombre y número de cliente).
      Al utilizar un vale, el cliente da su consentimiento, sujeto al acuerdo contractual entre el cliente y la aseguradora, a que la compañía de seguros tenga permiso para ver la Cuenta del cliente y los datos que esta contiene.
    </p>
    <p>
      1.6 En casos particulares, BL se reserva el derecho a excluir métodos de pago. En el caso de que un pago falle o no sea posible, BL tendrá derecho a bloquear la Cuenta en la Plataforma y cualquier otro servicio que se preste bajo el contrato con el cliente.
    </p>
    <p>
      1.7 En el caso de impago, BL podrá exigir intereses de demora al tipo legal. El cliente asumirá cualquier gasto, especialmente las tasas, que resulten de impagos de los que el cliente sea responsable. Por cada mes o parte del mes en que se dé un retraso en el pago, así como por impagos de los que el cliente sea responsable, BL tendrá derecho a una indemnización de 5,00 euros al mes para el seguimiento y la tramitación de la deuda. El cliente tendrá derecho a presentar pruebas de que nunca se produjo ningún daño o de que se debe una cantidad mucho menor. BL se reserva el derecho de reclamación por daños causados por demora.
    </p>
    <p>
      1.8 En el caso de impago, BL también tendrá derecho a bloquear el acceso del cliente a la Plataforma. Solo se bloqueará el acceso del cliente a la Plataforma mientras persista la razón del bloqueo. El bloqueo no eximirá al cliente de su obligación de pagar los precios estipulados. El bloqueo se podrá revertir o anular si se presentan objeciones justificadas contra la factura o si se acuerda una prórroga.
    </p>
    <p>
      1.9 El cliente también tendrá la obligación de pagar los importes de las facturas que resulten del uso autorizado o no autorizado por terceros de la Plataforma o Cuenta de usuario, en la medida en que el cliente es responsable de estas. El cliente será responsable de cualquier uso que haya facilitado o autorizado de manera atribuible.
    </p>
    <p>
      1.10 El cliente sólo podrá compensar las reclamaciones de BL con contrademandas indiscutibles o finales y concluyentes. El cliente solo podrá ejercer el derecho de retención si su contrademanda se basa en la misma relación contractual.
    </p>
    <p>
      1.11 Las disposiciones anteriores de este contrato, las cuales dan derecho a BL a bloquear la Cuenta del cliente en la Plataforma o a suspender el cumplimiento del contrato, se aplicarán también en caso de que la compañía de seguros de salud del cliente haya asumido la obligación de pagar ante BL y no cumpla con tal obligación.
    </p>
    <h4 class="subtitle is-5">2. Responsabilidad</h4>
    <p>
      Las siguientes disposiciones se aplicarán a la responsabilidad de BL, así como a la responsabilidad de sus empleados, agentes indirectos y auxiliares, por cualquier motivo legal:
    </p>
    <p>
      2.1 Solo se asumirá la responsabilidad por daños cuando estos hayan sido causados por un acto premeditado, una negligencia grave o la infracción culpable de una obligación contractual fundamental. Las obligaciones contractuales fundamentales en este sentido son aquellas obligaciones que protegen la situación jurídica del cliente, que son fundamentales para el contrato y que se han de garantizar al cliente en cuanto al objeto y finalidad del contrato. Las obligaciones contractuales fundamentales también son aquellas cuyo cumplimiento es un prerrequisito para posibilitar la ejecución del contrato y en las que el cliente confía y puede confiar normalmente. Si se infringe una obligación contractual fundamental, se restringe la responsabilidad a aquellos daños previsibles.
    </p>
    <p>
      2.2 Las limitaciones de responsabilidad mencionadas anteriormente no se aplicarán en caso de fallecimiento, lesiones físicas o daños a la salud, ya sea por un defecto en la calidad del producto que se asumía garantizada o por un defecto ocultado maliciosamente. La responsabilidad bajo la Ley de Responsabilidad del Producto alemana no se verá afectada.
    </p>
    <p>
      2.3 BL solo será responsable del contenido de terceros en su página web y en la Plataforma en los siguientes casos:<br>
      a) si BL tiene conocimiento de los actos ilícitos o de la información y, en el caso de reclamación por daños, también tiene conocimiento de los hechos o circunstancias en los que el acto ilícito o la información quedaron de manifiesto;<br>
      b) si BL no actuó rápidamente para eliminar la información o bloquear el acceso a ella tan pronto como BL tuvo conocimiento de ella.<br>
    </p>
    <p>
      2.4 BL se desvincula expresamente del contenido de todas las páginas a las que hace referencia directa o indirectamente (los llamados «enlaces») desde la página web de BL y sus ofertas. BL no asumirá ninguna responsabilidad por tal contenido. Los proveedores de las páginas respectivas son responsables de su contenido. Lo mismo sucede con el contenido de las páginas mostradas en los llamados «marcos» bajo la barra de navegación en la página web de BL y sus ofertas.
    </p>
    <p>
      2.5 Si se presentan reclamaciones por daños, estas se deben hacer valer en un plazo de 3 meses desde la denegación por escrito de BL. Cualquier reclamación presentada fuera de plazo será rechazada salvo que los procedimientos independientes para reunir pruebas se hayan iniciado durante el plazo.
    </p>
    <h4 class="subtitle is-5">3. Protección de Datos</h4>
    <p>
      3.1 BL se toma la protección y seguridad de los datos de sus clientes con mucha seriedad y se adhiere estrictamente a las leyes de protección de datos, tales como el Reglamento General de Protección de Datos de la UE, al procesar los datos de los clientes.
    </p>
    <p>
      3.2 BL tiene derecho a anonimizar los datos del cliente en cumplimiento de las disposiciones legales vigentes para mejorar sus servicios y proporcionar estos datos anónimos a terceros exclusivamente para la investigación contra las enfermedades cardiacas o para la evaluación anonimizada de estadísticas.
    </p>
    <p>
      3.3 Además de estas Condiciones Generales, se aplicará la <strong>“Política de Privacidad”</strong> (disponible en <a href="https://www.cardiosecur.com/en/meta-navigation/footer/legal/privacy-policy/">Protección de Datos</a>), la cual constituye una parte importante del acuerdo entre el cliente y BL.
    </p>
    <h4 class="subtitle is-5">4. Disposiciones Finales</h4>
    <p>
      4.1 Salvo que se indique lo contrario en las Condiciones Generales, el cliente no podrá transferir a terceros ninguno de los derechos garantizados en este contrato ni el contrato en su totalidad sin el consentimiento expreso de BL por escrito. BL otorgará su consentimiento si el cliente tiene intereses razonables de mayor peso que los intereses que BL debe proteger. Se permitirá a BL transferir este contrato a una empresa a la que BL esté afiliada (artículo X de la Ley de Sociedades Anónimas uruguaya).
    </p>
    <p>
      4.2 Cualquiera de las partes podrá presentar declaraciones de intenciones de manera electrónica, las cuales se considerarán como dadas por escrito salvo que se requiera por ley que sean por escrito o salvo que las presentes Condiciones Generales excluyan el modo electrónico.
    </p>
    <p>
      4.3 Este contrato se rige exclusivamente por las leyes uruguayas. Se excluye la aplicación de la «Ley Uniforme Sobre la Compraventa Internacional de Mercaderías», la «Ley Uniforme Sobre la Formación de Contratos Para la Compraventa Internacional de Mercaderías» y la «Convención de las Naciones Unidas sobre los Contratos de Compraventa Internacional de Mercaderías». Esta elección de ley solo se aplicará al consumidor si no restringe ninguna disposición legal de su país de residencia o de residencia habitual.
    </p>
    <p>
      4.4 El lugar de cumplimiento es el domicilio social de BL. Si la parte contratante es un comerciante según la definición del código de comercio uruguayo, una persona jurídica de derecho público o un patrimonio especial de derecho público, se acuerda que el domicilio social será el fuero de jurisdicción de todas las disputas que resulten directa o indirectamente de la relación contractual (incluyendo los procedimientos judiciales relacionados con cheques, letras de cambio y documentos). Esto también se aplica a los procesos de reclamación y a las personas sin lugar de jurisdicción general en Uruguay, así como a personas que han cambiado su lugar de residencia o de residencia habitual al extranjero tras la celebración del acuerdo o cuyo lugar de residencia o residencia habitual sean desconocidos en el momento del inicio de la acción. BL también tiene derecho a presentar una demanda ante un tribunal de justicia.
    </p>
    <p>
      4.5 Ningún acuerdo verbal subsidiario será válido. Cualquier modificación o complemento a este acuerdo, incluida esta cláusula do forma textual, deberá indicarse como tal en forma textual para hacerse efectiva. Los acuerdos verbales subsidiarios solo se aplicarán si han sido confirmados de manera escrita o textual.
    </p>
    <p>
      4.6 Si alguna de las disposiciones de estas Condiciones Generales fuera o llegara a ser ineficaz o impracticable, esto no afectaría la validez del resto de disposiciones de estas Condiciones Generales ni del contrato con BL. Lo mismo se aplicaría de inmediato si se descubriese un vacío legal en estas Condiciones Generales.
    </p>
  </div>
</div>

{% endblock %}


{% block footer %}
  {{ include('components/footer.html.twig') }}
{% endblock %}