{% extends 'base.html.twig' %}

{% block title %}Términos y condiciones de uso | BambusLife{% endblock %}

{% block description %}Términos y condiciones de uso | BambusLife{% endblock %}

{% block keywords %}Términos de uso, términos, uso{% endblock %}

{% block header %}
  {{ render(controller('App\\Controller\\Components\\HeaderController::index')) }}
{% endblock %}

{% block body %}

<div class="container white-box" style="padding: 20px;">
  <h1 class="subtitle is-3" style="margin-top: 50px;">Términos de uso</h1>
  <div class="content">
 
    <h3 class="subtitle is-4">I. Limitación de Responsabilidad</h3>
    <p>
      El contenido de esta página web ha sido creado con el máximo cuidado. Sin embargo, Bambusife SA, Br. España 2630 of. 301, 11.300 Montevideo, Uruguay(en lo sucesivo, el <strong>«Proveedor»</strong>) no aceptará ninguna responsabilidad por la corrección, exhaustividad y actualidad del contenido proporcionado. El visitante hará uso del contenido de la página web bajo su propio riesgo. Aquellas contribuciones acompañadas por un nombre reflejan las opiniones del respectivo autor, y no necesariamente las del Proveedor. El mero uso de la página web del Proveedor no significará el establecimiento de ninguna relación contractual entre el visitante y el Proveedor.
    </p>
    <h3 class="subtitle is-4">II. Información sobre la Protección de Datos al usar la página web de BL</h3>
    <p>
      En general, es posible usar nuestra página web sin tener que proporcionar datos personales. En el caso de que se recopilen datos personales en nuestras páginas, esto siempre se realiza de manera voluntaria. Por principio, estos datos personales no se compartirán con terceros. Solo se aplicarán excepciones si se requiere por ley o si usted acepta expresamente que compartamos estos datos. A este respecto, consulte las secciones sobre «Cookies» y «Procesamiento por Terceros».
    </p>
    <h4 class="subtitle is-5">1. Almacenamiento de Datos de Acceso</h4>
    <p>
      Cada vez que se acceda a nuestra página web o nuestros archivos se almacenarán los datos de acceso en un registro del servidor de nuestro proveedor. Los datos de uso (como por ejemplo los datos sobre el principio, fin y alcance del uso de ciertos servicios de telecomunicación o sobre el tráfico de datos por correo electrónico) se recopilarán, procesarán y usarán para proporcionar estos servicios en la medida en que sea necesario. Suelen recopilarse la fecha, hora y zona horaria del principio y fin de la actividad, así como el alcance en bytes, la dirección IP del usuario y el tipo de servicio de telecomunicación.
    </p>
    <p>
      Estos datos se recopilan de manera anónima y son técnicamente imposibles de atribuir a personas específicas. Los datos se eliminarán tras el análisis de estadísticas.
    </p>
    <h4 class="subtitle is-5">2. Subscripción Opcional al Boletín</h4>
    <p>
      Para suscribirse a nuestro boletín, usted nos proporcionará su dirección de correo electrónico y otra información opcional. Usaremos esta información únicamente para enviarle nuestro boletín. Almacenaremos sus datos hasta que se dé de baja de nuestro boletín. Usted se podrá dar de baja en cualquier momento haciendo clic en el enlace de nuestros boletines o simplemente poniéndose en contacto con nosotros (la dirección de correo electrónico se encuentra en la publicación). Al darse de baja, usted revoca nuestro derecho a usar su dirección de correo electrónico.
    </p>
    <h4 class="subtitle is-5">3. Servicios que Requieren Registrarse</h4>
    <p>
      Si usted desea usar nuestros servicios a través de medios electrónicos, necesitaremos información suya para proporcionar estos servicios y a efectos de liquidación. Esto incluye en particular su nombre, dirección de correo electrónico, dirección, número de teléfono, etc. Usted nos proporcionará estos datos de manera expresamente voluntaria. Al enviarnos sus datos, usted nos da permiso a contactar con usted por correo electrónico, correo ordinario o teléfono, y a recopilar, almacenar y utilizar sus datos conforme a su uso respectivo. Sus datos solo se compartirán con terceros, tales como socios colaboradores o proveedores de servicios (por ejemplo, los proveedores de servicios informáticos encargados de nuestro centro informático, las empresas asignadas para el manejo de las facturas de los servicios que adquiere con nosotros, la institución financiera que expide su tarjeta de crédito, las empresas de servicios de logísticas encargadas de entregarle el producto), que hayan sido encargados de realizar tareas con fines acordes. Estos terceros no podrán usar sus datos para cualquier otro fin. Además, estarán obligados a gestionar todos los datos en cumplimiento de esta Política de Privacidad y las disposiciones de protección de datos alemanas, como por ejemplo el artículo 28 del Reglamento General de Protección de Datos de la UE. No se enviarán datos a terceros bajo ninguna otra circunstancia.
    </p>
    <h4 class="subtitle is-5">4. Cookies</h4>
    <p>
      Las llamadas «cookies» se utilizan en varios lugares de nuestras páginas web. Las cookies son pequeños archivos de datos que se envían a su ordenador y se almacenan en su navegador. La finalidad de las cookies que usamos es la de realizar funciones de servicio (por ejemplo, recordar las preferencias de idioma) para que nuestros servicios sean más intuitivos, efectivos y seguros.
    </p>
    <p>
      Usted puede configurar su navegador para que le notifique cuando reciba cookies y le informe durante cuánto tiempo estarán activas (por ejemplo, las cookies de sesión solo están activas durante su visita a la página web, mientras que las cookies a largo plazo que facilitan sus entradas y acciones en la página web duran hasta 90 días para que usted no tenga que repetirlas si vuelve a visitar la página). Esta configuración le ayuda a decidir en cada caso si desea aceptar las cookies o si desea rechazarlas. Si usted inhabilita las cookies, la funcionalidad y los servicios de nuestra página web pueden verse limitados.
    </p>
    <h4 class="subtitle is-5">5. Procesamiento por Terceros</h4>
    <p>
      <strong>Personal MedSystems GmbH (en lo sucesivo denominada “PMS”):</strong> <br>
      Nuestros servicios utilizan los dispositivos y la plataforma de Personal MedSystems GmbH. Esta empresa es Alemana y fabrica los dispositivos en el mismo país y por lo pronto se mantiene actualizada y cumple con el Reglamento General de Protección de Datos de la UE y la Ley Federal de Protección de Datos de Suiza. Las aplicaciones que se usan, avisan en todo momento la actualización de la Políticas de Privacidad de BL.
    </p>
      <strong>Mercadopago:</strong><br>
      Nuestro sitio web utiliza los servicios de pagos de Mercado Pago de Deremate.com de Uruguay S.R.L., R.U.T: 214111700011(«MP»), por lo que la protección de sus datos personales de sus tarjetas de crédito es responsabilidad de Mercadopago y solamente quedan registrados en los servidores de dicha empresa que cumple con sus condiciones de seguridad establecida en https://www.mercadopago.com.uy/ayuda/terminos-y-politicas_194. Al momento de pagar, se le solicitan los datos de su tarjeta de credito, utilizando el API de MercadoPago, los validamos y solicitamos un token. Este token nos permite procesar la operacion/transaccion en pantalla. Las transacciones realizadas a traves de MercadoPago apareceran como un consumo de nuestro servicio en su resumen de cuenta en moneda local. BL guarda su identificador unico de MercadoPago para poder procesar proximos pagos (como ser la subscripcion automatica). Los datos privados de su tarjeta, tal como numero y CVV, NO llegan a nuestro servidor; se envian a los servidores de MercadoPago. <br>Para mas informacion sobre el api visitar: https://www.mercadopago.com.uy/developers/es/guides/payments/api/introduction/.
    <p>
      <strong>Google Analytics:</strong><br>
      Nuestra página web utiliza Google Analytics, una herramienta de análisis web de Google Inc. («Google»). Google Analytics utiliza las llamadas «cookies», archivos que se almacenan en su ordenador y permiten analizar su uso de nuestra página web. La información generada por las cookies y el análisis de su uso de esta página web suelen transferirse a un servidor de Google en EE. UU. para ser almacenados. Sin embargo, en caso de que la anonimización de IP esté activada en esta página web, Google acortará su dirección IP en los países miembros de la Unión Europea y del Espacio Económico Europeo. Su dirección IP completa se enviará al servidor de Google en EE. UU. para ser acortada allí solo en casos excepcionales. En representación de esta página web, Google utilizará esta información para analizar su uso de esta página web, para producir informes de actividad web y para proporcionar servicios al propietario de la página web relacionados con el uso de la página web y de Internet. La dirección IP suya que se envíe desde su navegador a Google Analytics no se conectará con otros datos de Google. Usted puede evitar el almacenamiento de cookies desde las opciones de configuración de su navegador. Nótese que si usted inhabilita las cookies la funcionalidad de nuestra página web puede verse limitada. Asimismo, usted puede evitar que las cookies recopilen datos sobre su uso de la página web (incluyendo su dirección IP) y que los transfieran a Google descargando e instalando un plugin de navegador en el siguiente enlace: https://tools.google.com/dlpage/gaoptout?hl=es Para más información, visite https://tools.google.com/dlpage/gaoptout?hl=es o https://support.google.com/analytics/answer/6004245?hl=es (información general sobre Google Analytics y la protección de privacidad). Nótese que el código «gat._anonymizeIp();» ha sido añadido a Google Analytics para garantizar la recopilación anónima de direcciones IP (conocido como enmascaramiento IP) y evitar que se puedan relacionar directamente con una persona. Especialmente en el caso de navegadores de teléfonos móviles, haga clic en https://tools.google.com/dlpage/gaoptout?hl=es para evitar que Google Analytics recopile en el futuro información anónima en esta página web desde su navegador.
    </p>
    <p>
      <strong>Seguimiento de Conversiones de Google AdWords:</strong><br>
      Esta página web utiliza el seguimiento de conversiones de Google AdWords, una herramienta de análisis web de Google Inc. («Google»). El seguimiento de conversiones de Google AdWords también utiliza «cookies» almacenadas en su ordenador que permiten analizar el uso de la página web. La información generada por las cookies sobre su uso de esta página web se envía a un servidor de Google en EE. UU. para ser almacenada. Google utiliza esta información para evaluar su uso de la página web recopilando informes sobre actividad web para operadores de páginas web y ofreciendo otros servicios relacionados con la actividad web y la navegación por Internet. Google también podrá enviar esta información a terceros si la ley lo requiere o si estos terceros procesan los datos en nombre de Google. Google no conectará estos datos con otros datos de Google bajo ninguna circunstancia. Usted puede inhabilitar el uso de cookies evitando el almacenamiento de cookies desde las opciones de configuración de su navegador.
    </p>
    <p>
      <strong>Facebook:</strong><br>
      Nuestro sitio web contiene etiquetas de remarketing de la red social Facebook, 1601 South California Avenue, Palo Alto, CA 94304, Estados Unidos. Si usted visita nuestra página web, la etiqueta de remarketing creará un enlace directo entre su navegador y el servidor de Facebook. Por lo tanto, Facebook será informado de su visita a nuestra página web. Esto permite que Facebook vincule sus visitas a nuestra página web con su cuenta de usuario. Podremos usar la información obtenida para fines de publicidad a través de Facebook Ads. Queremos informarle de que, al ofrecerle el uso de nuestra página web, no obtenemos conocimientos sobre el contenido de los datos transferidos ni del uso que Facebook hace de esos datos. Usted puede encontrar más información sobre la política de privacidad de Facebook en https://www.facebook.com/about/privacy/. Si usted no desea que Facebook almacene ningún dato a través de Facebook Custom Audience, usted puede desactivar Custom Audience en el siguiente enlace: https://www.facebook.com/ads/website_custom_audiences/
    </p>
    <p>
      <strong>Twitter:</strong><br>
      Nuestras páginas web utilizan plugins sociales («plugins») de la red social Twitter, operada por Twitter Inc., 795 Folsom St., Suite 600, San Francisco, CA 94107, Estados Unidos («Twitter»). Los plugins de Twitter se pueden identificar por el símbolo del pájaro o por la letra «t». Al acceder a una de nuestras páginas web que contienen este plugin, su navegador se conecta automáticamente a los servidores de Twitter. El contenido del plugin se transmite directamente desde Twitter a su navegador, desde donde se integra en la página web. A través de la integración de plugins se informa a Twitter de que usted ha accedido nuestra página web. Si usted ha iniciado sesión en Twitter antes de utilizar uno de estos plugins, Twitter puede vincular su visita con su cuenta de Twitter. Al interactuar con los plugins, por ejemplo al hacer clic en un botón, la información correspondiente se transmite directamente a Twitter, donde se almacena. Si usted no tiene cuenta de Twitter, o si no ha iniciado sesión antes de visitar nuestra página web, aún cabe la posibilidad de que Twitter conozca y guarde su dirección IP. Para más información sobre la finalidad y el alcance de la recopilación de datos, el procesamiento y el uso de datos por parte de Twitter y sus derechos y las preferencias que usted puede configurar para proteger su privacidad, consulte la Política de Privacidad de Twitter: https://twitter.com/es/privacy.
      <br>
      Si usted tiene una cuenta de Twitter y no quiere que Twitter recopile datos sobre sus visitas a nuestra página web, los cuales pueden ser vinculados a los datos que Twitter almacena sobre usted, debe cerrar sesión en Twitter antes de visitar nuestra página web y borrar las cookies. Para más información sobre cookies, consulte la sección «Cookies» de este documento.
    </p>
    <p>
      <strong>YouTube:</strong><br>
      Nuestras páginas web utilizan plugins de la página web operada por Google, YouTube. El operador del sitio web es YouTube, LLC, 901 Cherry Ave., San Bruno, CA, 94066, Estados Unidos. Al acceder a una de nuestras páginas web que contienen un plugin de YouTube, su navegador se conecta automáticamente a los servidores de YouTube. Por lo tanto, el servidor de YouTube recibe información sobre las páginas nuestras que usted ha visitado.
      <br>
      Si usted ha iniciado sesión en YouTube antes de acceder a nuestra página web, YouTube puede vincular su visita con su perfil personal de YouTube. Usted puede evitar esto cerrando antes su sesión de YouTube.
      <br>
      Para más información, consulte la política de privacidad de YouTube: https://policies.google.com/privacy?hl=es
    </p>
    <h3 class="subtitle is-4">III. Administrar la Configuración de las Cookies</h3>
    <p>
      Usted puede utilizar las opciones de configuración del navegador para elegir el modo en que su dispositivo administra las cookies, incluso si desea inhabilitarlas o eliminarlas. Algunos dispositivos le permiten controlar esto a través de las opciones de configuración del dispositivo. Si usted desea rechazar las cookies en algún momento, es posible que la página web no funcione adecuadamente y que no se puedan proporcionar algunos servicios. Cada navegador y dispositivo es diferente, por lo que le rogamos que compruebe el menú de configuración de su navegador o dispositivo para aprender cómo cambiar la configuración de las cookies. A continuación le proporcionamos más información sobre cómo administrar las cookies con los navegadores más comunes:
      <ul>
        <li><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&%3Bhl=de&hl=es">Configuración de cookies en Google Chrome</a></li>
        <li><a href="https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-?redirectlocale=en-US&amp=&redirectslug=Cookies%22+target%3D%22_blank%22%3ECookie+settings+in+Firefox">Configuración de cookies en Firefox</a></li>
        <li><a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies">Configuración de cookies en Internet Explorer</a></li>
        <li><a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac">Configuración de cookies en Safari para Mac</a></li>
        <li><a href="https://support.apple.com/es-es/HT201265">Configuración de cookies en iPhone, iPad o iPod Touch</a></li>
      </ul>
      Si usted tiene alguna pregunta sobre la configuración de las cookies, no dude en contactar con el <a href="https://www.cardiosecur.com/en/support/contact/">servico al cliente</a>.
    </p>
    <h3 class="subtitle is-4">IV. Enlaces externos</h3>
    <p>
      Esta página web contiene enlaces a páginas de terceros (en lo sucesivo denominados <strong>«enlaces externos»</strong>). Los proveedores respectivos serán responsables de estas páginas web. El Proveedor no tiene influencia alguna sobre el diseño y contenido presentes y futuros de ninguna de las páginas enlazadas. El crear enlaces externos no significa que el Proveedor adopte el contenido de la referencia o el enlace como suyo propio. No se puede esperar que el operador compruebe los enlaces externos si no hay indicios concretos de infracciones legales. Sin embargo, tales enlaces se eliminarán de inmediato si se hace conocedor al Proveedor de tales infracciones legales.
    </p>
    <h3 class="subtitle is-4">V. Derechos de Autor y Derechos Afines</h3>
    <p>
      El contenido publicado en esta página web está sujeto a los Derechos de Autor y a los Derechos Afines uruguayos y alemanes. Cualquier uso no autorizado por los Derechos de Autor y Afines uruguayos y alemanes requerirá el consentimiento escrito previo del Proveedor o del propietario respectivo de los derechos. Esto se aplicará en especial a la copia, edición, traducción, almacenamiento, procesamiento o reproducción del contenido en bases de datos u otros medios y sistemas electrónicos. La reproducción y la divulgación no autorizadas de contenido específico o de páginas enteras no están permitidas y están sujetas a enjuiciamiento. Solo se permitirán la producción de copias y descargas para uso personal, privado y no comercial. La presentación de esta página web en marcos externos solo se permitirá con autorización por escrito. En caso de que el contenido de esta página web no haya sido creado por el Proveedor, se respetarán los derechos intelectuales de terceros. En particular, los contenidos y derechos de terceros se identificarán como tales. Sin embargo, si el usuario observa un incumplimiento de los derechos de autor, el Proveedor solicita que se le informe debidamente. Si se descubre un incumplimiento de los derechos, el Proveedor eliminará tal contenido de inmediato.
    </p>
    <p>
    </p>
    <p>
    </p>
  </div>
</div>

{% endblock %}


{% block footer %}
  {{ include('components/footer.html.twig') }}
{% endblock %}