@media (max-width: 787px) {
  .cart-cntr{
    margin: 0px;
    padding: 5px;
  }

  .cart-items{
    padding: 10px 3px;

    table {
      font-size: 15px;
    }
  }

  .order-cntr {
    margin: 0px;
  }
}