@media (min-width: 768px) and (max-width: 1023px) {
  .app-presentation {
    width: 170px;
    height: 361px;
  }

  .app-presentation-background {
    width: 170px;
    height: 361px;
  }

  .app-presentation-video {
    top: 39px;
    left: 11px;
    width: 149px;
  }

  .step-img {
    height: 200px;
  }

  .circle-blue {
    margin: 3% auto;
  }

  .when-to-use-text {
    height: 50px;
  }

}