@charset "utf-8";

@import "./variables.scss";

// --------------------------------------------------------------------
// Include base CSS Framework
// --------------------------------------------------------------------
@import "./node_modules/bulma/sass/utilities/_all.sass";
@import "./node_modules/bulma/sass/base/_all.sass";
@import "./node_modules/bulma/sass/grid/columns.sass";
@import "./node_modules/bulma/sass/layout/section.sass";
@import "./node_modules/bulma/sass/layout/footer.sass";
@import "./node_modules/bulma/sass/layout/hero.sass";
@import "./node_modules/bulma/sass/elements/content.sass";
@import "./node_modules/bulma/sass/elements/title.sass";
@import "./node_modules/bulma/sass/elements/button.sass";
@import "./node_modules/bulma/sass/elements/form.sass";
@import "./node_modules/bulma/sass/elements/table.sass";
@import "./node_modules/bulma/sass/elements/notification.sass";
@import "./node_modules/bulma/sass/components/dropdown.sass";
@import "./node_modules/bulma/sass/components/navbar.sass";
@import "./node_modules/bulma/sass/components/message.sass";
@import "./node_modules/bulma/sass/components/tabs.sass";
@import "./node_modules/bulma/sass/components/modal.sass";
@import "./node_modules/bulma/sass/components/card.sass";
@import "./node_modules/bulma-accordion/src/sass/index.sass";


// --------------------------------------------------------------------
// Bulma Extensions (bulma-o-steps)
// --------------------------------------------------------------------
$steps-completed-color : $primary;
$steps-active-color : $primary;
@import "./node_modules/bulma-o-steps/bulma-steps.sass";

.steps .steps-content .heading {
    color: #777;
    font-size: 11px;
    text-transform: uppercase;
}

.button.is-text {
    text-decoration: none;
    color: $primary;
    border: 0px;
}

// --------------------------------------------------------------------
// Define own classes or override
// --------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');



@import "./assets/css/components/header/header.scss";
@import "./assets/css/components/footer/footer.scss";

//*** Pages *//



// --------------------------------------------------------------------
// General override
// --------------------------------------------------------------------
body {
    color: $grey;
}

a {
    color: $primary
}

.container {
    //min-height:150px;
    max-width: 1152px;
    margin: 0 auto;
}

p {
    //font-size: 15px;
}

// Media
iframe {
    height: 100%;
    max-width: 100%;
}


.tabs li.is-active a {
    color: #38b09d;
    border-top: 2px solid #38b09d !important;
}

.subtitle {
    font-weight: 100;
    color: #333;
}

.subtitle:not(:last-child) {
    margin-bottom: 0.7rem;
}

.content h4 {
    color: $grey-dark;
    font-weight: 500;
}

.content table thead td,
.content table thead th {
    color: $grey-dark;
    font-weight: 500;
}

.table td,
.table th {
    vertical-align: middle;
}

.is-overlay,
.modal,
.modal-background {
    position: fixed;
}

.accordions {
    .accordion {
        .accordion-header {
            background-color: #E0E0E0;
            color: #212121;
        }

        .accordion-body {
            background-color: #FFF;
        }
    }
}

.modal-content,
.modal-card {
    max-height: 100vh !important;
    margin-bottom: auto;
    margin-top: 20px;
}

.modal-card-body {
    box-shadow: inset 0px -3px 4px -3px rgba(0, 0, 0, 0.5);
}

.modal-card-head,
.modal-card-foot {
    padding: 15px;
}

.modal-card-title {
    font-size: 1.4rem;
    font-weight: 100;
}

.modal-close {
    top: 10px;
    right: 10px;
    position: absolute;
}

.modal-card-foot {
    border-radius: 0px;
    padding: 10px;
}

.modal-card-head {
    border-radius: 0px;
}

.label {
    font-weight: 500;
}

.select:not(.is-multiple):not(.is-loading)::after,
.navbar-link:not(.is-arrowless)::after {
    border-color: $primary;
}

.title {
    font-weight: 500;
}

// --------------------------------------------------------------------
// Custom classes
// --------------------------------------------------------------------

.table-borderless td,
.table-borderless th {
    border: 0px;
}

.table-thinpad td,
.table-thinpad th {
    padding: 3px;
}

.info-box-grey {
    background-color: #ECEFF1;
    padding: 10px;
    border-radius: 5px;
    max-width: 100%;
}

.white-box {
    background-color: $white-box-background-color;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.white-box-sh {
    background-color: #FEFEFE;
    border-radius: 4px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.grey-box {
    background-color: $grey-box-background-color;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.white-card {
    text-align: center;
    background-color: #FEFEFE;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        font-size: 23px;
        color: #000;
    }

    h5 {
        font-size: 33px;
        color: #000;
        font-weight: 100;
    }

    h3 {
        font-size: 20px;
    }

    img {
        padding: 40px;
    }

    p {
        color: #222;
        font-size: 17px;
    }
}

.white-card-left {
    margin-right: 15px;
}

.white-card-right {
    margin-left: 0px;
    padding-left: 30px;
    border-left: 1px solid #DDD;
}

.linkcard {
  cursor: pointer;
}

.linkcard:hover .title {
  color: #7db4d8;
}

.linkcard a{
  color: #1d1d1d;
}


.form-readyonly-field {
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 5px;
    background-color: #EEE;
    color: #666;
}

.products {
    section {
        margin-bottom: 4px;
    }

    h1,
    h2,
    h3 {
        margin-bottom: 10px;
    }
}

.grecaptcha-badge {
    visibility: hidden;
}

.section-title {
    text-transform: uppercase;
    color: #888;
    font-size: 1.1rem !important;
    margin-bottom: 20px;
}

.retable {
    padding: 0;

    .retableHeading,
    .retableRow {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 5px 0 3px;
        min-width: 220px;

    }

    .retableHeading .column,
    .retableRow .column {
        min-height: 30px;
    }

    .retableHeading .column {
        vertical-align: bottom;
        color: #999;
        font-weight: 600;
    }

    .retableHeading .column,
    .retable .retableRow .column {}

    .retableRow {
        border-top: 1px solid #E7E7E7;

        .column {
            vertical-align: middle;
            padding: 0px;
            align-self: flex-end;
        }
    }

}

.obs-status {

    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-flex;

    &.obs-status-red {
        background: rgb(244, 67, 54);
        background: linear-gradient(219deg, rgba(244, 67, 54, 1) 0%, rgba(212, 23, 0, 1) 100%);
        border: 1px solid rgba(212, 23, 0, 1);
    }

    &.obs-status-green {
        // background: rgb(76,175,80);
        // background: linear-gradient(219deg, rgba(76,175,80,1) 0%, rgba(58,131,61,1) 100%);
        // border: 1px solid rgba(58,131,61,1);
        background: #DDD;
        border: 1px solid #BBB;
    }

    &.obs-status-yellow {
        background: rgb(255, 193, 7);
        background: linear-gradient(219deg, rgba(255, 193, 7, 1) 0%, rgba(232, 174, 0, 1) 100%);
        border: 1px solid rgba(232, 174, 0, 1);
    }
}

// --------------------------------------------------------------------
// Botón Chatbot
// --------------------------------------------------------------------

#callus {
    --call-us-form-header-background: #7db4d8;
    --call-us-header-text-color: #ffffff;
    --call-us-form-width: 300px;
    --call-us-form-height: 400px;
    position: fixed;
    bottom: 20px;
    right: 6px;
}

// --------------------------------------------------------------------
// Flags
// --------------------------------------------------------------------
.locale {
    span {
        position: relative;
        margin-left: 5px;
    }

    img {
        width: 20px;
    }

    i {
        position: absolute;
        right: -17px;
        top: 0;
        font-size: 12px;
        color: #4caf50;
    }
}



// New Design ------------------------------------------------

// Generic ------------------------------------------------

.txt-grey {
    color: $grey;
}

.txt-blue {
    color: $blue;
    font-weight: 600;
}


.subtitle {
    margin-bottom: 2rem;
}

.title {
    font-weight: 400 !important;
}

.has-top-line {
    border-top: 1px solid $grey-lighter;
}

.has-bottom-line {
    border-bottom: 1px solid $grey-lighter;
}

.has-left-line {
    border-left: 1px solid $grey-lighter;

    @media screen and (max-width: $mobile) {
        border-left: none;
    }
}

// Products ------------------------------------------------

.services {
    .column {
        padding: 0 !important;

        @media screen and (max-width: $mobile) {
            padding: 0.75rem !important;
        }

        h5 {
            background: no-repeat left top transparent;
            background-size: 28px;
            line-height: 40px;
            font-size: 1.5rem;
            font-weight: 300;
            border-bottom: 1px solid $blue;
            margin: 2rem;

            @media screen and (max-width: $mobile) {
                margin: 2rem 0;
            }

            &.doctor {
                background-image: url("../../../images/doctor.svg");
            }

            &.family {
                background-image: url("../../../images/family.svg");
            }
        }

        img {
            max-height: 300px;
        }

        ul {
            text-align: left;
            padding: 2rem 3rem;
            min-height: 350px;

            @media screen and (max-width: $mobile) {
                padding: 1rem 0;
                min-height: auto;
            }

            li {
                background: url("../../../images/bullet.svg") no-repeat left 8px transparent;
                background-size: 8px;
                padding-left: 18px;
                margin-bottom: 0.5rem;
            }
        }
    }
}





// Button ------------------------------------------------

.button {
    font-weight: 300;

    span {
        display: block;
    }
}

.services {
    .button {
        display: block;
        max-width: 220px;
        height: 70px;
        margin: 0 auto;
        padding: 0.5rem;
        line-height: 1.2;
    }
}


// End New Design ------------------------------------------------



// --------------------------------------------------------------------
// Entidades médicas
// --------------------------------------------------------------------

h3 {
    margin: 2rem 0 1rem 0;
}

p {
    margin-bottom: 1rem;
}

.list-disc {
    list-style: disc outside;
    margin: 0 0 0 2rem;

    li {
        margin-bottom: .5rem;
    }
}


// --------------------------------------------------------------------
// Estudios científicos
// --------------------------------------------------------------------

.call-to-action-bottom {
    padding: 2rem;
    background-color: whitesmoke;
    margin: 2rem 0 4rem 0;

    @media screen and (max-width: $mobile) {
        padding: 1rem 2rem;
    }

    ul {
        li {
            display: inline-block;

            img {
                height: 50px;
                margin: 1rem 1rem 2rem;

                @media screen and (max-width: $mobile) {
                    margin: .5rem;
                    height: 40px;
                }
            }
        }
    }

    .button {
        &.is-medium {
            @media screen and (max-width: $mobile) {
                font-size: 1rem;
            }
        }
    }
}

// --------------------------------------------------------------------
// Portal Médico
// --------------------------------------------------------------------
.portal-medico {
    margin-bottom: 2rem;
    background-color: $blue-light !important;

    .hero-body {
        padding: 1rem 3rem;

        @media screen and (max-width: $mobile) {
            text-align: center !important;
            padding: 1rem;
        }

        p {
            font-size: 1.25rem;
            font-weight: 300;
            line-height: 1.3;
            border-left: 1px solid white;
            padding: .25rem 0 .25rem 2rem;

            @media screen and (max-width: $mobile) {
                border-left: none;
                padding: .25rem 0;
                margin-bottom: 0;
            }
        }

        .button {
            margin-top: .5rem;

            @media screen and (max-width: $mobile) {
                margin: 0 auto 1rem;
            }

            &.is-white {
                color: $blue;

                &:active {
                    color: $blue;
                }
            }
        }

    }
}

// --------------------------------------------------------------------
// Notificaction success
// --------------------------------------------------------------------

.notification.is-success.is-light {
    background-color: #effaf3;
    color: #257942;
    border: 2px solid rgba(37, 121, 66, .1);
}

@import "/app-mobile.scss";
