// --------------------------------------------------------------------
// Define Variables
// --------------------------------------------------------------------

// New home
// Variables
$blue: #7db4d8;
$blue-light: #7db4d8;
$green: #9fad62;
$grey-dark: #1d1d1d;
$grey: #4d4d4d;
$grey-light: #706f6f;
$grey-lighter: #e5e5e5;
$family-sans-serif: "Roboto","Arial",sans-serif;
$primary: $blue;
$mobile: 768px;

$secondary: $blue-light;

$body-size: 16px;
$body-color: $grey-dark;


//$primary               : #38B09D;
//$secondary             : #E5E495;
//$body-size             : 16px;
//$body-color            : #666;
//$body-background-color : #e9ebee;

$body-background-color : #FFF;
$size-1 : 1rem;
$size-6 : 1rem;

$navbar-height : 1.90rem;

// $white-box-background-color: #FEFEFE;
$white-box-background-color: #FAFAFA;
$grey-box-background-color: #F4F6F9;

$family-primary: 'Roboto',BlinkMacSystemFont,-apple-system,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
