@import "../../variables.scss";

#landing-casmu-content {
    .hero-body {
        padding: 1rem 3rem;
    }

    .more-info{
      margin-top:50px;

      h3 {
        text-align:center;
      }
      p {
        text-align:center;
      }
    }

}
