<div style="font-size: 85%;color: #888;margin: 10px 0px 20px 0px;">
  Los electrodos se adquieren en mercado local.
  <a id="electrodesProvidersDetailsBtn" href="#">Más información</a>
</div>

{# PRICE TAG DISCLAIMER MODAL #}
<div class="modal" id="electrodesProvidersModal">
  <div class="modal-background" id="electrodesProvidersModalBack"></div>
  <div class="modal-content" style="background-color: #FFF;
    text-align: center;
    padding: 40px; max-width: 500px;
    border-radius: 4px;
    position:relative">
    <h3 class="subtitle is-5">Proveedores locales de electrodos</h3>
    <div class="content">
      <p>
        Los siguientes son proveedores locales de electrodos recomendados.
      </p>
      <h4>Chile</h4>
      <ul>
        <li>
          <div style="text-align: left;">
            <strong>Dipromed</strong><br>
            Web: <a href="https://www.Dipromed.cl">www.Dipromed.cl</a><br>
            Tel: (56 2) 2473 1300<br>
            Casa matriz: Palacio Riesco 4331. Huechuraba<br>
          </div>
        </li>
        <li>
          <div style="text-align: left;">
            <strong>CDM Medical</strong><br>
            Web: <a href="https://www.cdmshop.cl">www.cdmshop.cl</a><br>
            Tel: (56 2) 2229 4949<br>
            Casa matriz: Alonso de Córdova 5900, Las Condes, Región Metropolitana<br>
          </div>
        </li>
        <li>
          <div style="text-align: left;">
            <strong>AllMedica</strong><br>
            Web: <a href="https://www.allmedica.cl">www.allmedica.cl</a><br>
            Tel: (56 2) 2379 1777<br>
            Casa matriz: Allmedica, José Domingo Cañas N° 924 Ñuñoa<br>
          </div>
        </li>
      </ul>

      <h4>Uruguay</h4>
      <ul>
        <li>
          <div style="text-align: left;">
            <strong>ElectroMedical</strong><br>
            Web: <a href="https://www.electromedical.com.uy">www.electromedical.com.uy</a><br>
            Tel: (598) 2403 3218 - (598) 2408 4760 - (598) 2400 9787<br>
            Casa matriz: Democracia 1878, Montevideo<br>
          </div>
        </li>
      </ul>


      <button id="electrodesProvidersModalCloseBtn" class="modal-close is-large" aria-label="close" style="position: absolute;"></button>
    </div>
  </div>
</div>