
<h4 class="subtitle is-5">Tener en cuenta</h4>
<div class="content">
  <ol>
    <li>
      Los pagos realizados mediante MercadoPago, se convertir&aacute;n a su moneda local. Incluyendo 
      la compra de los dispositivos y la mensualidad.
    </li>
    <li>
      La suscripci&oacute;n entrar&aacute; en vigencia al momento de recibir el env&iacute;o. 
      En ese momento realizaremos el primer cobro de la mensualidad.
    </li>
    <li>
      Los dispositivos estar&aacute;n listos para usarse, 24 horas despu&eacute;s de realizar el primer pago.
    </li>
  </ol>
</div>