.appo-stats {
  width: auto;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 30px;
  font-size: 14px;
}

.appo-stats-can {
  background-color: #FBE9E7;
  color: #FF7043;
}

.appo-stats-bok {
  background-color: #DCEDC8;
  color: #689F38;
}

.appo-stats-past {
  background-color: #F5F5F5;
  color: #757575;
}