
.appointment-list {
    .column {
      padding: 5px 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    
    .passed {
      background-color: #F5F5F5;
    }
  }