{% extends 'base.html.twig' %}

{% block title %}Recuperar contrase&ntilde;a | BambusLife{% endblock %}

{% block description %}Recuperar contrase&ntilde;a. Le enviaremos un mail con una direcci&oacute;n temporal para recuperar su contrase&ntilde;a | BambusLife{% endblock %}

{% block keywords %}Recuperar contrase&ntilde;a , recuperar contraseña{% endblock %}

{% block header %}
  {{ include('components/header.html.twig') }}
{% endblock %}

{% block body %}

<div class="container">
  <div class="columns" style="min-height: 600px;">
    <div class="column">
      <form method="post" action="/send-email-reset-password" style="padding: 40px 20px;">
        <h1 class="subtitle is-3">Recuperar contrase&ntilde;a</h1>
        <h2>Le enviaremos un mail para poder restaurar su contrase&ntilde;a.</h2>
        <br>
        {% if error %}
          <article class="message is-danger">
            <div class="message-body">
              {{ error }}
            </div>
          </article>
        {% endif %}
        
        <div class="field">
          <label class="label">Correo electr&oacute;nico</label>
          <div class="control">
            <input class="input " type="email"  value="{{ last_username }}"
                    name="email" id="inputEmail" required
                    placeholder="Ingrese su direcci&oacute;n de correo electr&oacute;nico" >
          </div>
        </div>

        <div class="field">
          <p class="control">
            <button class="button is-primary" type="submit">
              Enviar mail de recuperaci&oacute;n
            </button>
          </p>
        </div>

      </form>
    </div>
  </div>
</div>

{% endblock %}


{% block footer %}
  {{ include('components/footer.html.twig') }}
{% endblock %}